.Toptag_Seticon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Seticon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) left bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Refreshicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -22px top no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Refreshicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -22px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Searchicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -44px top no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Searchicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -44px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Openupicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -66px top no-repeat;
	border:none;
	cursor:pointer;
	margin:2px 0 0;
}
.Toptag_Openupicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) -66px bottom no-repeat;
	border:none;
	cursor:pointer;
	margin:2px 0 0;
}
.Toptag_Drawdownicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) right top no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Drawdownicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_righticons.png) right bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Helpicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/helpicon.png) left top no-repeat;
	cursor:pointer;
	border:none;
}
.Helpicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/helpicon.png) left bottom no-repeat;
	cursor:pointer;
	border:none;
}
.Linkicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Linkicon.png) left top no-repeat;
	cursor:pointer;
	border:none;
}
.Linkicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Linkicon.png) left bottom no-repeat;
	cursor:pointer;
	border:none;
}
.Toptag_Formicon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_othersicons.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
.Toptag_Formicon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_othersicons.png) left bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Charticon{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_othersicons.png) right top no-repeat;
	border:none;
	cursor:pointer;
}
.Charticon_on{
	width:22px;
	height:22px;
	background:url(../../../images/themes_js/neptune/icon/Toptag_othersicons.png) right bottom no-repeat;
	border:none;
	cursor:pointer;
}