.x-panel-body {
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

.thumb {
	padding: 3px;
	padding-bottom: 0;
}

.x-quirks  .thumb {
	padding-bottom: 3px;
}

.thumb img {
	float: left;
	height: 90px;
	width: 110px;
}

.thumb-wrap {
	position : relative;
	float: left;
	margin: 4px;
	width: 300px;
	height: 105px;
	margin-right: 0;
	padding: 5px;
	background: #eff5fb url(selected.gif) no-repeat right bottom;
	border: 1px solid #99bbe8;
	padding: 4px;
}

.detail {
	float: left;
	display: block;
	overflow: hidden;
	text-align: left;
	width: 175px;
	padding-left: 10px;
}

.toolTitle {
	line-height: 20px;
	font-size: 15px;
	color: #003365;
	font-weight: bold;
}

.detailData {
	font-size: 12px;
	font-weight: 100;
	color: #333333;
	line-height: 18px;
	margin-top: 0;
}

.buttonFixed {
	position : absolute;
	left: 245px;
	top : 75px;
}

.x-item-over {
	border: 1px solid #99bbe8;
	background: #efefef url(over.gif) repeat-x left top;
	padding: 4px;
}

.x-item-selected {
	border: 1px solid #99bbe8;
	background: #efefef url(over.gif) repeat-x left top;
	padding: 4px;
}

.x-item-selected .thumb {
	background: transparent;
}

.loading-indicator {
	font-size: 11px;
	background-image:
		url('../../resources/themes/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	margin: 10px;
}

.x-view-selector {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border: 1px dotted;
	opacity: .5;
	-moz-opacity: .5;
	filter: alpha(opacity =   50);
	zoom: 1;
	background-color: #c3daf9;
	border-color: #3399bb;
}

.ext-strict .ext-ie .x-tree .x-panel-bwrap {
	position: relative;
	overflow: hidden;
}