/*----颜色------------------------------------------*/
/*----文字------------------------------------------*/
/*----线------------------------------------------*/
/*----按钮------------------------------------------*/
/*----间距------------------------------------------*/
/*----行高------------------------------------------*/
body {
  font-family: "Microsoft YaHei", "SimHei", sans-serif;
  font-size: 13px;
  color: #484848;
  line-height: 20px;
}
a {
  color: #484848;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0085d0;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fa,
.glyphicon {
  font-size: 14px;
  /* color: #0085d0; */
}
.btn {
  border-radius: 2px;
  /* padding: 5px 12px; *//*-- 和 bootstrap里的btn 的padding 冲突了，bootstrap里的btn-xs 不能用了 --*/
}
.btn-primary {
  color: #ffffff;
  background-color: #5cbdf4;
  border-color: #5cbdf4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.active.btn-primary,
.open > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #79cbf9;
  border-color: #79cbf9;
}
.btn-default {
  color: #484848;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.active.btn-default,
.open > .btn-default.dropdown-toggle {
  color: #484848;
  background-color: #e9e9e9;
  border-color: #dddddd;
}
.btn-primary i {
  color: #ffffff !important;
}
.btn-primary i,
.btn-default i {
  margin-right: 5px;
}
input[type='text'] {
  border: 1px solid #dddddd;
  padding: 4px;
  height: 34px;
  border-radius: 2px;
}
input[type='radio'],
input[type='checkbox'] {
  border-color: #dddddd;
  margin-right: 5px;
  margin-left: 20px;
}
select {
  padding: 4px;
  border: 1px solid #dddddd;
  height: 34px;
  border-radius: 2px;
}
/*----导航------------------------------------------*/
.nav > li > a:hover,
.nav > li > a:focus {
  border-color: #f5f5f5;
}
.nav-tabs > li > a {
  border-radius: 2px;
}
.nav-tabs > li > a:hover {
  border-color: #f5f5f5;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: 3px solid #0085d0;
  color: #0085d0;
  border-left: none;
  border-top: none;
  border-right: none;
  font-weight: 600;
  font-size: 14px;
}
.badge {
  background-color: #dddddd;
  margin-left: 5px;
  color: #757575;
}
/*----分页------------------------------------------*/
.pagination > li > a,
.pagination > li > span {
  margin: 0 5px;
  background-color: #eff2f5;
  border: none;
  color: #99a1a7;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 2px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  border-radius: 2px;
  background-color: #5cbdf4;
  border-color: #5cbdf4;
}
/*----字体图标-自定义样式------------------------------------------*/
a.default-icon{
	color:#0085d0;
}
a.function-icon{
	padding:2px 5px;
	color:#0085d0;
	vertical-align:middle;
}
a.function-icon:hover,a.function-icon:focus,a.function-icon:active,
.active.function-icon,
.open > .function-icon.dropdown-toggle{
	background-color: #0085d0;
	color:#fff;
	border-radius:3px;
	vertical-align:middle;
}
