/*---------------------个性化新增的样式-------------------------------------------------*/
.con_menu li a:hover{text-decoration:none !important;}
.con_menu li.hover a{margin: 0;}
.con_menu li.hover a:hover{text-decoration:none !important;}
.con_about_tab{}
.custom_about_tab a{position:absolute;height:69px;width:19px;margin-top:50px;background:url(../../../images/product/default/homepage/tab_ico.png) no-repeat; cursor:pointer}
.custom_about_tab a.ico_left{background-position:-48px 0}
.custom_about_tab a.ico_right{right:0;background-position:-24px 0}
.custom_about_tab a.left_none{cursor:default;background-position:0 0}
.custom_about_tab a.right_none{cursor:default;right:0;background-position:-72px 0}
.con_list .con_about_box li.skyblue a{border:1px solid #5bc0de;}
.con_list .con_about_box li.skyblue a span{background:#5bc0de;}
.con_list .con_about_box li.skyblue b.center{color:#5bc0de}
.con_list .con_about_box li.index_color01 a{border:1px solid #40bb91;}
.con_list .con_about_box li.index_color01 a span{background:#40bb91;}
.con_list .con_about_box li.index_color01 b.center{color:#40bb91}
.con_list .con_about_box li.index_color02 a{border:1px solid #fcb247;}
.con_list .con_about_box li.index_color02 a span{background:#fcb247;}
.con_list .con_about_box li.index_color02 b.center{color:#fcb247}
.con_list .con_about_box li.index_color03 a{border:1px solid #85c3fc;}
.con_list .con_about_box li.index_color03 a span{background:#85c3fc;}
.con_list .con_about_box li.index_color03 b.center{color:#85c3fc}
.con_list .con_about_box li.index_color04 a{border:1px solid #f6803a;}
.con_list .con_about_box li.index_color04 a span{background:#f6803a;}
.con_list .con_about_box li.index_color04 b.center{color:#f6803a}
.con_list .con_about_box li.index_color05 a{border:1px solid #b88bd1;}
.con_list .con_about_box li.index_color05 a span{background:#b88bd1;}
.con_list .con_about_box li.index_color05 b.center{color:#b88bd1}
.con_list .con_about_box li.index_color06 a{border:1px solid #98b652;}
.con_list .con_about_box li.index_color06 a span{background:#98b652;}
.con_list .con_about_box li.index_color06 b.center{color:#98b652}
.con_list .con_about_box li.index_color07 a{border:1px solid #e6d02f;}
.con_list .con_about_box li.index_color07 a span{background:#e6d02f;}
.con_list .con_about_box li.index_color07 b.center{color:#e6d02f}
/*---------------------原版-------------------------------------------------*/
#main {padding:10px 50px;overflow:hidden}
#main .con_left{float:left;width:240px;padding:0;}
#main .con_right{overflow:hidden;margin-left:250px;background:#fff}
#main .con_flow{margin-right:210px;margin-left:0; padding-right:20px;border-right:1px #dfdfdf solid}
#main .con_menuleft{float:left;width:201px;padding:0; margin:0;}
#main .con_tyberight{float:right;width:200px;padding:0;}

.div_hidden{ position:absolute;width:10px;height:24px;cursor:pointer;background:url(../../../images/product/default/homepage/div_hidden.png) no-repeat 0 4px}
.div_hidden:hover{background:url(../../../images/product/default/homepage/div_hidden.png) no-repeat -22px 4px}

.con_left .con_leftbox{border:1px solid #b8d9e9; position:relative}
.con_left .con_leftbox .title{ position:absolute;top:-15px;left:20px;width:110px;height:30px; line-height:30px; text-align:center; background:#fff}
.con_left .con_leftbox .title h5{ font-size:14px; color:#339dd9}
.con_left .con_leftbox .list{padding:20px 10px;}
.con_left .con_leftbox .list a{ color:#737373}
.con_left .con_leftbox .list li{ list-style-type:none;padding-left:20px;height:30px;line-height:30px; background:url(../../../images/product/default/homepage/ico1.png) no-repeat 0 4px}
.con_left .con_leftbox .list li.top{background:#fff;padding-left:20px;color:#0085d0; font-weight:bold}
.con_left .con_leftbox .list li.top i{margin-right:6px;}
.con_left .con_leftbox .list li.line{background:#b8d9e9; margin:10px 0;height:1px;overflow:hidden}

.con_left .con_treebox{border:1px solid #dfdfdf; background:#f8f8f8; position:relative}
.con_treebox .con_treebox_tab{height:28px;overflow:hidden;margin-top:8px;padding-left:10px;background:url(../../../images/product/default/homepage/tabbg.png) repeat-x bottom;}
.con_treebox .con_treebox_tab li{float:left;height:28px;list-style-type:none;cursor:pointer;}
.con_treebox .con_treebox_tab li a{float:left;height:28px;line-height:28px;color:#444;font-size:14px;font-weight:bold;padding:0 20px 0 20px;margin-right:5px;}
.con_treebox .con_treebox_tab li.hover{background:#fff;height:28px;border:1px solid #dfdfdf;border-bottom:none;border-radius:4px 4px 0 0;}
.con_treebox .con_treebox_tab li.hover a{color:#337ab7}
.con_treebox .con_search{height:22px;padding:15px 20px;border-bottom:1px solid #dfdfdf;background:#fff;}
.con_treebox .con_search input.inputbg{border:1px solid #b9b9b9;height:21px; width:100%;border:1px solid #dddddd;background:#fff}
.con_treebox .con_search .ico_search{display:inline-block;width:34px;height:25px; border:0;vertical-align:middle;background:url(../../../images/product/default/homepage/ico_search.png) no-repeat 0 0}
.con_treebox .con_search .ico_search:hover{background:url(../../../images/product/default/homepage/ico_search.png) no-repeat 0 -25px;}
.con_treebox .con_tree_list{padding:5px;}

#main .con_menuleft{float:left;width:201px;padding:0; margin:0;}
.con_menuleft{border-bottom:1px solid #b8d9e9;}
.con_menuleft li{float:left;width:183px;height:77px;line-height:77px;color:#737373;padding-left:16px;cursor:pointer;list-style-type:none;border:1px solid #b8d9e9;border-bottom:none}
.con_menuleft li a{color:#737373;font-size:14px;}
.con_menuleft li.hover a{color:#1e84cb;font-size:14px;}
.con_menuleft li.hover{border:0;width:185px;background:url(../../../images/product/default/homepage/ico_menu.png) no-repeat 0 0}

#main .con_tyberight{float:right;width:200px;padding:0;}

.con_menuleft li i{display:inline-block;width:45px;height:45px;margin:0 10px 0 0;vertical-align:middle;background:url(../../../images/product/default/homepage/ico_menu.png) no-repeat;}
.con_menuleft li i.ico_m1{background-position:0 -92px}
.con_menuleft li i.ico_m2{background-position:-45px -92px}
.con_menuleft li i.ico_m3{background-position:-90px -92px}
.con_menuleft li i.ico_m4{background-position:-135px -92px}
.con_menuleft li i.ico_m5{background-position:-180px -92px}

.con_right .con_cenbox{float:left;width:720px;padding:0;}
.con_right .con_rightbox{border:1px solid #dfdfdf;margin-left:730px; overflow:hidden}
.con_right .con_rightbox .title{ height:20px;padding-top:10px;padding-left:15px;background:#fff}
.con_right .con_rightbox .title h5{ font-size:18px;color:#5d5d5d; font-weight:normal}
.con_right .con_rightbox .list{padding:10px;}
.con_right .con_rightbox .list li{float:left;width:49.9%; text-align:center;padding:24px 0;}
.con_right .con_rightbox .list li a{color:#5d5d5d}

.con_homebox{margin-bottom:12px;}
.con_homebox_title{padding:10px 0;border-bottom:1px solid #e8e8e8;line-height:34px;}
.con_homebox_title h5{ font-size:14px;color:#5d5d5d; font-weight:bold;line-height:34px;}
.con_homebox_title h5 i{margin-right:10px;}
.con_homebox_title h6{ font-size:14px;color:#5d5d5d; font-weight:normal;line-height:34px;padding-left:10px;}
.con_homebox_title span{float:right;line-height:34px;}
.con_homebox_title span i{line-height:34px;}


.con_menu{height:42px;overflow:hidden;margin-top:8px;background:url(../../../images/product/default/homepage/tabbg.png);border-right:1px solid #e8e8e8;}
.con_menu h5{float:left;border-left:1px solid #e8e8e8;line-height:42px;font-size:14px;padding-left:10px;color:#5d5d5d; font-weight:normal}
.con_menu span{float:right;padding:10px 10px 0 0;}
.con_menu span i{margin:0 5px;cursor:pointer}
.con_menu li{float:left;height:41px;list-style-type:none;cursor:pointer;border-left:1px solid #e8e8e8;}
.con_menu li a{float:left;height:41px;line-height:41px;color:#444;font-size:14px;padding:0 20px 0 20px;margin-right:5px;}
.con_menu li.hover{background:#fff;height:41px;border-bottom:1px solid #fff;border-top:3px solid #3b99fc;}
.con_menu li.hover a{color:#0066c2; font-weight:bold;background:#fff;}
.con_menu li.hover a:hover{text-decoration:none}
.con_list{border:1px solid #e8e8e8;border-top:none; overflow:hidden; position:relative}
.con_list_border{border:1px solid #e8e8e8;}
.con_list .con_about_tab{}
.con_list .con_about_tab a{position:absolute;height:69px;width:19px;margin-top:50px;background:url(../../../images/product/default/homepage/tab_ico.png) no-repeat; cursor:pointer}
.con_list .con_about_tab a.ico_left{background-position:-48px 0}
.con_list .con_about_tab a.ico_right{right:0;background-position:-24px 0}
.con_list .con_about_tab a.left_none{cursor:default;background-position:0 0}
.con_list .con_about_tab a.right_none{cursor:default;right:0;background-position:-72px 0}
.con_list .con_about_box{ margin:0 30px;}
.con_list .con_about_box li{float:left;width:25%;text-align:center;margin:18px 0; position:relative}
.con_list .con_about_box li a{display:block;height:120px;margin:5px;border:1px solid #337ab7;border-radius:3px; background:#fafafa}
.con_list .con_about_box li a span{display:block;height:80px;color:#fff;text-align:left;padding:10px 35px 0 20px;background:#337ab7;}
.con_list .con_about_box li a span h1{font-size:22px;padding-top:10px;}
.con_list .con_about_box li a span h2{font-size:12px;height:26px}
.con_list .con_about_box li b{ display:inline-block;padding-top:10px;width:48%;color:#333;text-align:center}
.con_list .con_about_box li b.center{width:3%;color:#337ab7}
.con_list .con_about_box li.bggreen a{border:1px solid #5cb85c;}
.con_list .con_about_box li.bggreen a span{background:#5cb85c;}
.con_list .con_about_box li.bggreen b.center{color:#5cb85c}
.con_list .con_about_box li.bgorange a{border:1px solid #f0ad4e;}
.con_list .con_about_box li.bgorange a span{background:#f0ad4e;}
.con_list .con_about_box li.bgorange b.center{color:#f0ad4e}
.con_list .con_about_box li.bgred a{border:1px solid #d9534f;}
.con_list .con_about_box li.bgred a span{background:#d9534f;}
.con_list .con_about_box li.bgred b.center{color:#d9534f}
.con_list .con_about_box li.skyblue a{border:1px solid #5bc0de;}
.con_list .con_about_box li.skyblue a span{background:#5bc0de;}
.con_list .con_about_box li.skyblue b.center{color:#5bc0de}
.con_list .con_about_box li .ico_sos{position:absolute;right:8px;top:8px;height:44px;width:44px;background:url(../../../images/product/default/table/ico-sos.png);}

.con_list .con_norm_box{float:left;padding:5px 0 0 0;width:20%;color:#5d5d5d}
.con_list .con_norm_box li{border:1px solid #dddddd;border-radius:4px;text-align:center;margin:0 5px;list-style-type:none}
.con_list .con_norm_box li span{height:180px;border-bottom:1px solid #dddddd; display:block}
.con_list .con_norm_box li span b{display:block;padding:5px 0}
.con_list .con_norm_box li i{display:block;height:26px;line-height:26px;background:#f5f5f5}

.con_list .con_top_box{float:left;width:25%;}
.con_list .con_top_box .con_top_list{padding:5px 12px;overflow:hidden;font-size:14px;}
.con_list .con_top_box .con_top_list .con_title{padding:10px 0;}
.con_list .con_top_box .con_top_list .con_title h5{ font-size:18px;color:#5d5d5d; font-weight:normal}
.con_list .con_top_box .con_top_list .con_title h5 i{margin-right:5px; cursor:pointer}
.con_list .con_top_box .con_top_list .con_bottom{float:right;padding:10px 0;}
.con_top_list i{display:inline-block;width:36px;height:36px;margin:0 5px 0 10px;vertical-align:middle;background:url(../../../images/product/default/homepage/ico_weixin.png) no-repeat;}
.con_top_list i.ico_sale1{background-position:0 0}
.con_top_list i.ico_sale2{background-position:-36px 0;}
.con_top_list i.ico_sale3{background-position:-72px 0;}
.con_top_list i.ico_sale4{background-position:-108px 0;}
.con_top_list i.ico_sale5{background-position:-144px 0;}
.con_top_list i.ico_sale6{background-position:-180px 0;}
.con_top_list i.ico_sale7{background-position:-216px 0;}
.con_top_list i.ico_sale8{background-position:0 -36px}
.con_top_list i.ico_sale9{background-position:-36px -36px;}
.con_top_list i.ico_sale10{background-position:-72px -36px;}
.con_top_list i.ico_sale11{background-position:-108px -36px;}

.con_top_list i.ico_my1{background-position:0 -72px}
.con_top_list i.ico_my2{background-position:-36px -72px;}
.con_top_list i.ico_my3{background-position:-72px -72px;}
.con_top_list i.ico_my4{background-position:-108px -72px;}
.con_top_list i.ico_my5{background-position:-144px -72px;}
.con_top_list i.ico_my6{background-position:-180px -72px;}
.con_top_list i.ico_my7{background-position:-216px -72px;}
.con_top_list i.ico_my8{background-position:0 -108px}
.con_top_list i.ico_my9{background-position:-36px -108px;}
.con_top_list i.ico_my10{background-position:-72px -108px;}

.con_chart{ text-align:center;padding:10px;}
.con_list_text{border:1px solid #e8e8e8;padding:10px;margin:10px 0;font-size:14px;}

.con_box_system{font-size:14px;}
.con_box_system table{border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8}
.con_box_system table td{border-left:1px solid #e8e8e8;border-top:1px solid #e8e8e8;line-height:36px;padding-left:20px;}
.con_box_system table td.title{ background:#f8f8f8}

.con_list_none{border:none;padding:0;margin:10px 0;font-size:14px;}
.con_list .con_down_box{float:left;width:24.98%;margin:0;}
.con_list .con_down_box .listbox{border:1px solid #dddddd;border-radius:4px;margin:0 5px;color:#5d5d5d}
.con_list .con_down_box .listbox li{display:block;list-style-type:none;height:30px;line-height:30px;padding:0 10px;border-bottom:1px dashed #dddddd;background:#fff}
.con_list .con_down_box .listbox li.title{border-bottom:none;color:#fff;border-radius:4px 4px 0 0;background:#337ab7}
.con_list .con_down_box .listbox li span{float:right}
.con_list .con_down_box .listbox li i{font-style:normal }
.con_list .con_down_box .listbox li.none{border-bottom:none;}
.con_list .con_down_box .listbox li.bgblue{background:#337ab7}
.con_list .con_down_box .listbox li.bggreen{background:#5cb85c}
.con_list .con_down_box .listbox li.bgorange{background:#f0ad4e}
.con_list .con_down_box .listbox li.bgred{background:#d9534f}

.con_list .con_flow_box{float:left;width:24.9%;padding:15px 0;border-bottom:1px dashed #dddddd;}
.con_list .con_flow_box li{display:inline-block;margin:0 5px;color:#5d5d5d; line-height:160%;}
.con_list .con_flow_box li span{float:left}
.con_list .con_flow_box li b{color:#0066c2}


.screen_row table td{ text-align:left;padding:5px 0;}
.screen_row .select_style{ width:130px;}


.con_list_app{display:block;margin:0 5px;color:#5d5d5d; line-height:160%;}
.con_list_app li{display:block;padding:5px 0; overflow:hidden;list-style-type:none}
.con_list_app li b{float:left; width:30px;color:#0066c2}
.con_list_app li strong{float:left; font-weight:normal}
.con_list_app li span{float:left;}
.con_list_app li span i{margin-left:0;}
.con_list_app li a{color:#000}

.con_flow_about{display:inline-block;padding:25px 0;color:#5d5d5d;}
.con_flow_about span{float:left;margin-right:30px; width:220px; text-align:center}
.con_flow_about .about{ margin-left:250px;}
.con_flow_about .about h1{color:#000;font-size:24px;padding-bottom:15px;}
.con_flow_about .about h2{color:#1e84cb;font-size:14px;padding-bottom:15px;}
.con_flow_about .about h3{color:#000;font-size:14px; width:80%;font-weight:normal; line-height:160%;}

.con_list_about{padding:0 10px 0 10px;border:1px solid #fff}
.con_list_about li{float:left;width:33%;text-align:center;padding:24px 0;line-height:160%; cursor:pointer}
.con_list_about li a{display:inline-block;width:105px;height:105px;vertical-align:middle;background:url(../../../images/product/default/homepage/ico_about.png) no-repeat}
.con_list_about li a.ico_about1{background-position:0 0}
.con_list_about li a.ico_about2{background-position:-110px 0}
.con_list_about li a.ico_about3{background-position:-221px 0}
.con_list_about li:hover a.ico_about1{background-position:0 -110px}
.con_list_about li:hover a.ico_about2{background-position:-110px -110px}
.con_list_about li:hover a.ico_about3{background-position:-221px -110px}
.con_list_about li b{display:inline-block;font-size:14px;padding-left:30px;color:#5d5d5d}
.con_list_about li:hover b{color:#48a0fc}







