
/* --第一排
.ico_about1{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -8px -7px;}
.ico_about2{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -48px -7px;}
.ico_about3{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -86px -7px;}
.ico_about4{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -124px -7px;}
.ico_about5{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -164px -7px;} */

/* .ico_about6{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -8px -42px;}
.ico_about7{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -48px -42px;}
.ico_about8{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -86px -42px;}
 */
/* .ico_about9{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -163px -320px;}
 */
/* .ico_about10{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -130px -44px;}
.ico_about11{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -166px -45px;}
 */
/* .ico_about12{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -13px -244px;}
.ico_about13{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -49px -246px;}
.ico_about14{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -86px -246px;}
.ico_about15{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -127px -246px;}
 */
/* .ico_about12_none{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -13px -207px;}
.ico_about13_none{background:url(../../images/default/table//ico.png) no-repeat -49px -209px;}
.ico_about14_none{background:url(../../images/default/table//ico.png) no-repeat -86px -209px;}
.ico_about15_none{background:url(../../images/default/table//ico.png) no-repeat -127px -209px;} */
/* .ico_about16_none{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -87px -173px;}
.ico_about17_none{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -128px -173px;}
.ico_about16{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -11px -173px;}
.ico_about17{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -52px -173px;}
 */
/* .ico_about18{display:inline-block;width:24px;height:24px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -162px -245px;}
 */
.ico_top{display:inline-block;text-align:center;width:16px;height:16px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -95px -366px;}
.ico_down{display:inline-block;text-align:center;width:16px;height:16px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -132px -366px;}
.ico_level{display:inline-block;text-align:center;width:20px;height:14px;vertical-align:middle;background:url(../../../images/product/default/table//arrowLevel.png) no-repeat 0px 0px;}
.ico_more{display:inline-block;text-align:center;width:16px;height:16px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -165px -367px;}
.ico_arrow{display:inline-block;text-align:center;width:16px;height:16px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -55px -366px;}
/* .ico_message{display:inline-block;text-align:center;width:24px;height:24px;margin:0 5px;vertical-align:middle;background:url(../../images/default/table//ico.png) no-repeat -161px -172px;}
 */
.ico_ser1{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -4px -75px;}
.ico_ser2{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -50px -75px;}
.ico_ser3{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -99px -75px;}
.ico_ser4{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -154px -75px;}
.ico_ser5{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -4px -120px;}
.ico_ser6{display:inline-block;width:36px;height:36px;vertical-align:middle;background:url(../../../images/product/default/table//ico.png) no-repeat -48px -120px;}



.ico_num{display:inline-block;text-align:center;width:18px;color:#7a838b;height:18px;line-height:18px;vertical-align:middle;}

/*--表格样式--*/
.table_data{
	display:table;
	border:none;
	margin:0 auto;
	width:100%;
	border-top:1px #eaeaea solid;
	border-bottom:1px #eaeaea solid;
	border-collapse:collapse
}
.table_data th,.table_data td{
	line-height:44px;
	empty-cells:show;
	background:#fafafa
}
.table_data a{
	color:#1859B3;
}
.table_data a.btn,.table_data a.btn:visited{color:#fff}

.table_affairs th,.table_affairs td{
}
.table_data .tab td{
	background:#fff;
}
.table_data .hover td{
	background:#eef1f6;
}

.table_data2{
	display:table;
	border:none;
	margin:0 auto;
	width:100%;
	border:1px #eaeaea solid;
	border-collapse:collapse
}
.table_data2 th{
	line-height:20px;
	background:#eaf6ff;
	border-right:1px #eaeaea solid;
	border-bottom:1px #eaeaea solid;
}
.table_data2 td{
	line-height:23px;
	empty-cells:show;
	background:#fafafa;
	border-right:1px #eaeaea solid;
	border-bottom:1px #eaeaea solid;
}