body{ margin:0; padding:0; background:url(../../../../images/themes/blue/login/bg_repeat.jpg) repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;}

.float_l{ float:left;}
.float_r{ float:right;}
.clear{ clear:both;}

.page_bg{
	background:url(../../../../images/themes/blue/login/bg.jpg) no-repeat;
	width:1440px; height:900px;
	margin:0 auto;
}
.page_box{
	width:960px;
	margin:0 auto;
}
/*----------登录窗口-------------------------------------------------------------------------------*/
.user_input{
	background:url(../../../../images/themes/blue/login/user_input.gif) no-repeat;
	width:211px; height:27px;
	padding:3px;
}
.password_input{
	background:url(../../../../images/themes/blue/login/password_input.gif) no-repeat;
	width:211px; height:27px;
	padding:3px;
}
.login_btn{
	background:url(../../../../images/themes/blue/login/login_btn.gif) no-repeat;
	width:84px; height:33px;
	cursor:pointer;
}
.login_btn_hover{
	background:url(../../../../images/themes/blue/login/login_btn_hover.gif) no-repeat;
	width:84px; height:33px;
	cursor:pointer;
}
.ret_btn{
	background:url(../../../../images/themes/blue/login/ret_btn.gif) no-repeat;
	width:84px; height:33px;
	cursor:pointer;
}
.ret_btn_hover{
	background:url(../../../../images/themes/blue/login/ret_btn_hover.gif) no-repeat;
	width:84px; height:33px;
	cursor:pointer;
}
/*-----------------------------------------------------------------------------------------*/
.foot{
	text-align:center;
	line-height:24px;
	color:#c1dcff;
	margin:40px 0 0;
}