ul.box {
	list-style-type: none;
	padding: 10px;
}

ul.box li {
	cursor: pointer;
	float: left;
	margin-bottom: 10px;
	text-align: center;
	width: 115px;
}

ul.box li a {
	color: #000000;
}

a:link {
	text-decoration: none;
}

ul.box li a img {
	display: block;
	margin: 0 auto;
	border: 0 none;
}

span.lleft {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin-top: 3px;
}

span.lright {
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	max-width: 80px;
	overflow: hidden;
}

ul li:hover span.lleft{
	background:
		url("../../../../images/themes/gray/desktop/appbox/app_title_bg.png")
		no-repeat scroll left 0 transparent;
	display: inline-block;
	height: 18px;
	padding-left: 2px;
}

ul li:hover span.lright{
	background:
		url("../../../../images/themes/gray/desktop/appbox/app_title_bg.png")
		no-repeat scroll right -18px transparent;
	color: #fff;
	display: inline-block;
	max-width: 80px;
	overflow: hidden;
	padding-right: 2px;
}