@charset "utf-8";
/* CSS Document */

/*  basic   */
*{ padding:0; margin:0; border:0;}
body{ font-family:"宋体", Arial, Helvetica, sans-serif; font-size:12px; line-height:18px;}
h1,h2{ font-size:14px;}
h3,h4,h5,h6{ font-size:12px;}
ol,ul{ list-style:none;}
fieldset,img{ border:0;}
em{ font-style:normal;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}

/*  mmtop */
#mmtop{ 
	width:1000px; 
	height:51px; 
	border-left:1px solid #80b6ee; 
	border-right:1px solid #80b6ee;
	background:url(../../../images/common/forgetPasswordImages/mmbg.gif) repeat-x; 
	margin:20px auto 0 auto;
}

#mmtop p{ 
	width:978px; 
	height:49px; 
	border-left:1px solid #fff; 
	border-right:1px solid #fff; 
	padding-top:1px; 
	padding-left:20px;
}

/*  mmcon */
#mmcon{ 
	width:960px; 
	margin:40px auto;
	background:url(../../../images/common/forgetPasswordImages/mm1mid.gif) repeat-y;
}

.mmdiv1{ 
	width:960px; 
	height:6px;
}

.mmdiv2{ 
	width:920px; 
	height:338px; 
	background:url(../../../images/common/forgetPasswordImages/mmlogo2.gif) right bottom no-repeat; 
	margin-right:20px;
	margin-left:20px;
}

#mmszmm{
	width:920px; 
	height:328px; 
	display:none;
}
	
#mmszmm1{
	width:920px; 
	height:328px;
}

#mmszmm2{
	width:920px; 
	height:328px; 
	display:none;
}

#mmszmm3{
	width:920px; 
	height:328px; 
	display:none;
}

.mmleft{ 
	width:572px; 
	float:left;
}

.mmul1{ 
	margin-top:10px;
}

.mmright{ 
	float:left; 
	height:253px; 
	background:url(../../../images/common/forgetPasswordImages/mmfg.gif) no-repeat left; 
	margin-top:50px; 
	padding-left:20px;
}

.mmli2{ 
	width:532px; 
	height:15px;
}

.mmli3{ 
	width:532px; 
	height:10px; 
	margin-top:-10px;
}

.mmli1{ 
	width:532px; 
	background:url(../../../images/common/forgetPasswordImages/mm2mid.gif) repeat-y; 
	padding-left:10px; 
	padding-right:10px; 
	margin-top:-4px;
}

.mmp1{ 
	color:#555; 
	line-height:24px; 
	padding-top:6px;
	padding-bottom:6px;
}

.bold{ 
	font-weight:bold;
}

.yellow{ 
	color:#FF6600;
}

.wjmmp{ 
	margin-top:20px;
}

.td1{ 
	width:100px; 
	text-align:right;
}

.mmtab1{ 
	margin-top:20px;
}
	  
.mmtextfield1{ 
	width:200px; 
	height:18px; 
	border:1px solid #7f9db9;
}

.mmtab1 td{ 
	padding-top:15px; 
	color:#333;
}

.mmbutton1{ 
	width:64px; 
	height:22px; 
	background:url(../../../images/common/forgetPasswordImages/mmbutton.gif); 
	line-height:22px; 
	text-align:center; 
	color:#fff;
	float:left; 
	margin-right:4px; 
	cursor:pointer;
}

.td2{ 
	height:50px;
}

.mmul3{ 
	margin-top:30px;
}
	
#mmszmm{
	width:920px; 
	height:328px; 
	display:none;
}
	
.pp1{ 
	margin-left:80px; 
	margin-top:50px;
}

#mmbot{ 
	width:100%; 
	height:32px; 
	line-height:32px;
	background:url(../../../images/common/forgetPasswordImages/mmbotbg.gif) repeat-x; 
	clear:both; 
	text-align:center; 
	color:#0b40a2;
}