@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	background: url("../../../images/themes/access/main/bg.jpg") repeat scroll
		left top transparent;
	font-size: 12px;
	height: 100%;
	overflow: hidden;
	color: #2F332A;
}

a {
	outline: medium none;
}

.head_bg {
	background: url("../../../images/themes/access/main/headbg.jpg") repeat
		scroll left bottom transparent;
}

#north {
	color: #FFFFFF;
	overflow: hidden;
}

#north #north_right {
	float: right;
}

#taskbar {
	height: 35px;
	overflow: hidden;
}

#taskbar #taskbar_left {
	float: left;
	height: 35px;
	padding: 0 5px;
}

#taskbar #taskbar_center {
	float: left;
	padding-top: 5px;
}

#taskbar #taskbar_center #tabs_left_scroll {
	background: url("../../../images/themes/access/main/tab/tabs_arrow.png")
		no-repeat scroll 0 center transparent;
	cursor: pointer;
	display: none;
	float: left;
	height: 30px;
	width: 30px;
}

#taskbar #taskbar_center #tabs_left_scroll.active {
	background: url("../../../images/themes/access/main/tab/tabs_arrow.png")
		no-repeat scroll -60px center transparent;
}

#taskbar #taskbar_center #tabs_container {
	float: left;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

#taskbar #taskbar_center #tabs_container div {
	display: inline-block !important;
	display: inline;
	margin-right: 3px;
	padding-right: 5px;
	white-space: nowrap;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#taskbar #taskbar_center #tabs_container div a.tab {
	display: inline-block;
	padding-left: 10px;
	padding-right: 3px;
	min-width: 64px !important;
	width: auto !important;
	width: 80px;
	text-decoration: none;
	color: #aaa;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#taskbar #taskbar_center #tabs_container div a:hover {
	background-color: #3C6E31;
}

#taskbar #taskbar_center #tabs_container div.selected {
	background: url("../../../images/themes/access/main/tab/tabs_active.png")
		no-repeat scroll right -30px transparent;
}

#taskbar #taskbar_center #tabs_container div.selected a.tab {
	background: url("../../../images/themes/access/main/tab/tabs_active.png")
		no-repeat scroll left 0 transparent;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

#taskbar #taskbar_center #tabs_container div.unselected {
	background: url("../../../images/themes/access/main/tab/tabs_bg.png")
		no-repeat scroll right -30px transparent;
}

#taskbar #taskbar_center #tabs_container div.unselected a.tab {
	background: url("../../../images/themes/access/main/tab/tabs_bg.png")
		no-repeat scroll left 0 transparent;
}

#taskbar #taskbar_center #tabs_container div a.close {
	background: url("../../../images/themes/access/main/tab/tabs_close.png")
		no-repeat scroll 0 center transparent;
	display: none;
	height: 16px;
	margin-bottom: -2px !important;
	width: 16px;
}

#taskbar #taskbar_center #tabs_container div a.close:hover {
	background-position: -16px center;
	cursor: pointer;
}

#taskbar #taskbar_center #tabs_container div.selected a.close {
	display: inline-block;
}

#taskbar #taskbar_center #tabs_right_scroll {
	background: url("../../../images/themes/access/main/tab/tabs_arrow.png")
		no-repeat scroll -30px center transparent;
	cursor: pointer;
	display: none;
	float: right;
	height: 30px;
	width: 30px;
}

#taskbar #taskbar_center #tabs_right_scroll.active {
	background: url("../../../images/themes/access/main/tab/tabs_arrow.png")
		no-repeat scroll -90px center transparent;
}

#taskbar #taskbar_right {
	float: right;
}

#taskbar #taskbar_right table {
	margin: 0;
	padding: 0;
	border: 0;
}

#taskbar #taskbar_right tr {
	margin: 0;
	padding: 0;
	border: 0;
}

#taskbar #taskbar_right td {
	margin: 0;
	padding: 0;
	border: 0;
}

#taskbar #taskbar_right a {
	display: inline-block;
	height: 25px;
	margin-right: 10px;
	margin-top: 5px;
	width: 30px;
	float: right;
}

#taskbar #taskbar_right #minimenu {
	display: none;
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -80px 0 transparent;
}

#taskbar #taskbar_right #minimenu:hover {
	background-position: -80px -25px;
}

#taskbar #taskbar_right #logout {
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -288px 0 transparent;
}

#taskbar #taskbar_right #logout:hover {
	background-position: -288px -25px;
}

#taskbar #taskbar_right #hide_topbar {
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -117px 0 transparent;
}

#taskbar #taskbar_right #hide_topbar.up {
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -144px 0 transparent;
}

#taskbar #taskbar_right #theme {
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -364px 0 transparent;
}

#taskbar #taskbar_right #theme:hover {
	background-position: -364px -25px;
}

#taskbar #taskbar_right #userGuide {
	display:none;
	background: url("../../../images/themes/access/main/desktop_icons.png")
		no-repeat scroll -390px 0 transparent;
}

#taskbar #taskbar_right #userGuide:hover {
	background-position: -390px -25px;
}

#theme_panel {
	background: none repeat scroll 0 0 transparent;
	height: auto;
	position: absolute;
	right: 20px;
	width: 311px;
	z-index: 1100;
}

#theme_panel .center {
	background: url("../../../images/themes/themespanel/themeswitch_c.png")
		repeat-y scroll 0 0 transparent;
	height: auto;
	padding: 10px 20px 40px;
	width: 100%;
}

#theme_panel .close {
	bottom: 10px;
	height: 27px;
	position: absolute;
	right: 10px;
	z-index: 1110;
}

a.btn-black-a {
	background: url("../../../images/themes/themespanel/btn_black.png")
		no-repeat scroll center top transparent;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 25px !important;
	padding-top: 2px !important;
	text-align: center;
	text-decoration: none;
	width: 66px;
}

a.btn-black-a:hover {
	background-position: center -27px;
}

#theme_panel .bottom {
	background: url("../../../images/themes/themespanel/themeswitch_b.png")
		no-repeat scroll left center transparent;
	height: 16px;
	width: 100%;
}

#theme_panel .center a.theme_thumb {
	cursor: pointer;
	display: block;
	float: left;
	height: 74px;
	margin: 10px 15px;
	width: 107px;
}

#theme_panel .center a.theme_thumb span {
	background: url("../../../images/themes/themespanel/theme_title.png")
		no-repeat scroll center center transparent;
	color: #FFFFFF;
	display: block;
	height: 25px;
	line-height: 23px;
	margin-top: 3px;
	text-align: center;
	width: 100%;
}

#theme_panel .center a.current span {
	font-weight: bold;
}

#funcbar {
	background: none repeat scroll 0 0 #ff0000;
	background: url("../../../images/themes/access/main/menubg.png") repeat-x
		scroll left 0 transparent;
	height: 32px;
	overflow: hidden;
}

#funcbar #funcbar_left {
	top: 8px;
	left: 10px;
	position: relative;
	color: #fff;
}

#funcbar #funcbar_left .breadcrumb {
	height: 20px;
	line-height: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0 0 4px 6px;
	vertical-align: baseline;
}

#funcbar #funcbar_left .breadcrumb a {
	text-decoration: none;
	color: #aaa;
}

#funcbar #funcbar_left a:hover,#funcbar #funcbar_left a.active {
	color: #fff;
}

#center {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

#center .tabs-panel {
	display: none;
	height: 100%;
	width: 100%;
}

#center .selected {
	display: block;
}

#center .tabs-panel iframe {
	height: 100%;
	width: 100%;
}

#south {
	background: #2c2f3c;
	border-top:1px solid #18181a;
	color: #393939;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	width: 100%;
}

#south table {
	border: 0 none;
	border-collapse: collapse;
	font-size: 12px;
	width: 100%;
}

#south table td.left {
	position: absolute;
	bottom: 5px;
	left: 10px;
	text-align: center;
	width: 40px;
}

#south table td.left a.desktop_icon {
	background: url("../../../images/themes/access/main/desktop_icon.png")
		no-repeat scroll 0 0 transparent;
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	z-index: 5;
	vertical-align: middle;
}

#south table td.left a.desktop_icon:hover {
	background-position: center -20px;
}

#south table td.center {
	width: 100%;
}

#south table td.userSimpleInfo {
	width: auto;
	position: absolute;
	bottom: 0px;
	right: 20px;
}

#south table td div.userInfo {
	color: #FFFFFF;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    text-align: right;
}

#south table td div.userInfo a {
	color: #ffffff;
	text-decoration: none;
}

#south table td.center #status_text {
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	text-align: center;
	color: #ffffff;
}

#south table td.right {
	bottom: 0;
    position: absolute;
    right: 0;
    width: auto;
}

#south table td.right #nocbox {
	background: url("../../../images/themes/access/main/nobox.png") no-repeat scroll 0 0 transparent;
    display: none;
    float: left;
    height: 22px;
    margin-top: 5px;
    position: relative;
    width: 22px;
}

#south table td.right div.usersList {
	background: url("../../../images/themes/blue/main/usersList.png") no-repeat scroll 0 7px transparent;
    padding-left:18px;
    float: left;
    color:#fff;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

#south table td div.numinfo {
	display: none;
    float: left;
    line-height: 30px;
    cursor:pointer;
    padding-right: 0;
    text-align: left;
    width: 90px;
}

#south table td.right a.ipanel_tab:link,#south table td.right a.ipanel_tab:hover,#south table td.right a.ipanel_tab:active,#south table td.right a.ipanel_tab:visited
	{
	display: inline-block;
	height: 22px;
	line-height: 22px;
	margin-right: 0px;
	text-align: center;
	text-decoration: none;
	width: 30px;
	z-index: 5;
	vertical-align: middle;
}

#south table td div.numinfo span {
	color: red;
	cursor: pointer;
}

#overlay_panel {
	background: none repeat scroll 0 0 #000000;
	display: none;
	opacity: 0.6;
	filter: alpha(opacity =                                 60);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
}

/*****************************窗口形式快捷桌面*******************************/
#desktop_panel {
	height: 440px;
	width: 724px;
	position: absolute;
	display: none;
	left: 20px;
	background: url("../../../images/themes/access/main/desktop_bg.png")
		no-repeat scroll center center transparent;
}

#desktop_panel #desktop_page {
	position: absolute;
	z-index: 1;
	margin: 35px 5px 5px 5px;
	display: block;
	height: 398px;
	width: 714px;
}

#desktop_panel .tools-menu {
	top: 5px;
	display: inline;
	z-index: 2;
	width: 100%;
	height: 25px;
	position: absolute;
}

#desktop_panel .tools-menu .icon {
	background: url("../../../images/themes/access/main/desktop_logo.png")
		no-repeat scroll center center transparent;
	height: 24px;
	display: inline-block;
	left: 20px;
	position: absolute;
	width: 95px;
}

#desktop_panel .tools-menu a {
	float: right;
	margin-right: 15px;
	margin-top: 2px;
	height: 16px;
	width: 16px;
	position: relative;
}

#desktop_panel .tools-menu a.close {
	background: url("../../../images/themes/access/desktop/desktop_close.png")
		no-repeat scroll center top transparent;
}

#desktop_panel .tools-menu a.close:hover {
	background: url("../../../images/themes/access/desktop/close_.png")
		no-repeat scroll center top transparent;
}

#desktop_panel .tools-menu a.setting {
	margin-right: 10px;
	background:
		url("../../../images/themes/access/desktop/desktop_setting.png")
		no-repeat scroll center top transparent;
}

.menuContent {
	background: #353a40;
	border: 1px solid #000;
	padding: 3px;
}

/***********************收缩头部菜单面板********************************/
#choiceMenu {
	position: absolute;
	width: 140px;
	display: none;
	z-index: 11;
}

#choiceMenu .choiceMenu_arrow {
	background:
		url(../../../images/themes/access/main/menu/home_change_menu_arrow.png)
		no-repeat;
	height: 6px;
	position: absolute;
	right: 17px;
	top: 0;
	width: 11px;
	z-index: 999;
}

#choiceMenu ul {
	background: none repeat scroll 0 0 #deeeff;
	border: 1px solid #62a2e3;
	list-style: none outside none;
	margin: 0;
	padding: 5px 10px;
	position: relative;
	right: 0;
	top: 5px;
	z-index: 998;
}

#choiceMenu ul li {
	border-bottom: 1px solid #aed6ff;
	height: 24px;
	line-height: 24px;
	width: 120px;
	text-indent: 1px;
}

#choiceMenu ul li a {
	cursor: pointer;
	color: #0a4785;
	text-decoration: none;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 120px;
}

#choiceMenu ul li a img {
	border-style: none;
	margin-bottom: 2px;
	margin-top: 2px;
	margin-right: 3px;
	width: 20px;
	height: 20px;
}

#choiceMenu ul li a:hover {
	color: #0061FF;
	text-decoration: none;
}
/***********************菜单面板样式 ***********************/
#menu-panel {
	display: none;
	position: absolute;
	height: 400px;
	width: 385px;
	top: 78px;
	right: 0;
	background: url("../../../images/themes/access/main/menu/MenuBack.jpg")
		no-repeat scroll 0 0 transparent;
	padding: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
	border:1px solid #000;
}

#menu-panel #l-menu-panel {
	background: none;
	float: left;
	width: 218px;
	margin: 2px;
	position: absolute;
	display: block;
}

#menu-panel #l-menu-panel .menu-tree-panel {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	display: inline;
}

#menu-panel #l-menu-panel .menu-tree-panel div {
	height: 100%;
	width: 100%;
	padding: 0px;
	position: absolute;
}

#menu-panel #l-menu-panel div ul.ztree {
	height: 100%;
	overflow: auto;
	width: 100%;
	padding: 0px;
}

#menu-panel #r-menu-panel {
	border-left: 1px solid #aaa;
	background: none;
	width: 155px;
	position: relative;
	margin: 2px;
	display: inline;
	float: right;
}

#l-menu-bg {
	background: none;
	width: 210px;
	height: 100%;
	position: absolute;
	left: 3px;
	bottom: 5px;
	z-index: 0;
	overflow: hidden;
}

#r-menu-bg {
	background: none;
	width: 143px;
	height: 189px;
	position: absolute;
	bottom: 5px;
	z-index: 0;
	overflow: hidden;
}

#menu-panel #r-menu-panel .menu-title {
	background: url("../../../images/themes/access/main/menu/title_bor.png")
		no-repeat scroll 0 0 transparent;
	position: absolute;
	top: 4px;
	height: 30px;
	width: 100%;
	z-index: 1;
}

#menu-panel #r-menu-panel #choose-style {
	background: url("../../../images/themes/access/main/menu/listmenu.png")
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
	width: 16px;
	height: 16px;
	float: right;
	position: absolute;
	top: 12px;
	right: 5px;
	z-index: 2;
}

#menu-panel #r-menu-panel #choose-style.up {
	background: url("../../../images/themes/access/main/menu/bigmenu.png")
		no-repeat scroll 0 0 transparent;
}

#menu-panel #r-menu-panel #choose-style:hover,#menu-panel #r-menu-panel #choose-style.active,#menu-panel #r-menu-panel #choose-style.up:hover
	{
	background-position: center -16px;
}

#menu-panel #r-menu-panel #icon-menu,#menu-panel #r-menu-panel #list-menu
	{
	position: absolute;
	top: 35px;
	width: 100%;
	overflow: hidden;
	bottom: 3px;
	z-index: 2;
}

#menu-panel #r-menu-panel #icon-menu .scroll-up,#menu-panel #r-menu-panel #icon-menu .scroll-down
	{
	background:
		url("../../../images/themes/access/main/menu/scroll_arrow.png")
		no-repeat scroll center 0 transparent;
	cursor: pointer;
	height: 20px;
	overflow: hidden;
}

#menu-panel #r-menu-panel #icon-menu .scroll-up {
	background-position: center 0;
	display: none;
}

#menu-panel #r-menu-panel #icon-menu .scroll-down {
	background-position: center -20px;
	display: none;
}

#menu-panel #r-menu-panel #icon-menu .scroll-up-hover {
	background-position: center -40px;
}

#menu-panel #r-menu-panel #icon-menu .scroll-down-hover {
	background-position: center -60px;
}

#menu-panel #r-menu-panel #icon-menu ul,#menu-panel #r-menu-panel #list-menu ul
	{
	list-style-type: none;
	overflow: hidden;
	width: 85px;
	position: relative;
	width: 100%;
}

#menu-panel #r-menu-panel #icon-menu ul li {
	cursor: pointer;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
	width: 85%;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .img {
	cursor: pointer;
	height: 65px;
	line-height: 65px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 70px;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .img p:hover,li.block .img p.active
	{
	background:
		url("../../../images/themes/access/desktop/desktop_hover_bg.png")
		no-repeat scroll 0 0 transparent;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .img p {
	position: static;
	top: 50%;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .img p img {
	left: -50%;
	position: static;
	top: -50%;
	vertical-align: middle;
	margin-top: 4px;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .img p:after {
	content: ".";
	font-size: 1px;
	visibility: hidden;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .delicon {
	background: url("../../../images/themes/access/main/menu/del.png")
		no-repeat scroll 0 0 transparent;
	width: 12px;
	display: none;
	height: 12px;
	position: absolute;
	right: -30px;
	top: 30px;
}

#menu-panel #r-menu-panel #icon-menu ul li.block .delicon:hover,#menu-panel #r-menu-panel #icon-menu ul li.block .delicon.active,#menu-panel #r-menu-panel #list-menu ul li div.delicon:hover,#menu-panel #r-menu-panel #list-menu ul li div.delicon.active
	{
	background-position: center -12px;
}

#menu-panel #r-menu-panel #icon-menu ul li span {
	color: #FFFFFF;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

#menu-panel #r-menu-panel #list-menu ul li {
	height: 23px;
	line-height: 23px;
	text-indent: 3px;
	margin-left: 8px;
	overflow: hidden;
	cursor: pointer;
	font: 12px/1.6em Lucida Console, consolas, "Arial";
	background: url("../../../images/themes/access/main/menu/menu_li_dot.png")
		no-repeat scroll 0 center transparent;
}

#menu-panel #r-menu-panel #list-menu ul li a {
	height: 23px;
	line-height: 23px;
	float: left;
	margin-left: 14px;
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	color: #000;
	overflow: hidden;
}

#menu-panel #r-menu-panel #list-menu ul li a:hover {
	color: #000;
}

#menu-panel #r-menu-panel #list-menu ul li a:visited {
	color: #000;
}

#menu-panel #r-menu-panel #list-menu ul li a:link {
	color: #fff;
}

#menu-panel #r-menu-panel #list-menu ul li div.delicon {
	background: url("../../../images/themes/access/main/menu/del.png")
		no-repeat scroll 0 0 transparent;
	height: 12px;
	display: none;
	width: 12px;
	margin: 5px 5px;
	float: right;
}

#menu-panel .keywords-search{
	position: absolute; 
	top: 5px;
	left : 5px; 
	z-index: 9999;
}

#menu-panel .keywords-search a{
	color: #fff;
	margin-right: 2px;
}

#menu-panel .keywords-search input{
	border: 1px solid #ccc;
	padding: 2px;
	width: 140px;
}

.tooltip {
	background: url("../../../images/themes/access/main/black_arrow.png")
		repeat scroll 0 0 transparent;
	color: #EEEEEE;
	display: none;
	color: fuchsia;
	font-size: 12px;
	height: 150px;
	width: 300px;
	z-index: 10;
}

.tooltip ul {
	padding: 12px;
	list-style-type: none;
}

.tooltip ul li {
	height: 20px;
	color: #fff;
	line-height: 20px;
	text-indent: 3px;
	margin-left: 8px;
	overflow: hidden;
	font: 12px/1.6em Lucida Console, consolas, "Arial";
}

.tooltip.bottom {
	padding-top: 40px;
	color: #DEEEFF;
	height: 55px;
}

#baseUserInfo {
	display: none;
}

.btn {
	cursor: pointer;
}

.contextMenu {
	width: 120px;
	background: white;
	border: 1px solid #C3C3C3;
	border-bottom: 0px solid #C3C3C3;
	position: absolute;
	display: block;
}

.contextMenuItem {
	padding: 3px 5px;
	cursor: pointer;
	border-bottom: 1px solid #C3C3C3
}

.contextMenuHover {
	background: #D3E8FA;
	border: 1px dotted #C3C3C3;
}

.cxt_icon {
	float: left;
	height: 16px;
	width: 16px;
}

.cxt_close_icon {
	background:
		url("../../../images/themes/access/main/contextMenu/close.png") repeat
		scroll 0 0 transparent;
}

.cxt_closeall_icon {
	background:
		url("../../../images/themes/access/main/contextMenu/closeall.png")
		repeat scroll 0 0 transparent;
}
#menu-panel .ztree li a{
	line-height: 16px;
    margin-right: 2px;
    color:#fff;
    height:18px;
}
#menu-panel .ztree li a:hover{
	line-height: 16px;
    margin-right: 2px;
    color:#fffc00;
}
#menu-panel .ztree li a.curSelectedNode {
    background: #fff;
    border: none;
    color:#000;
    font-weight:bold;
    height: 18px;
}
#menuContent .ztree {
    color: #fff;
}
#menuContent .ztree li a {
    color: #fff;
    height: 17px;
    padding: 1px 3px 0 0;
}
#menuContent .ztree li a.curSelectedNode {
    background-color: #FFE6B0;
    border: 1px solid #FFB951;
    color: #000000;
}
