body{
	margin:0;
	background:#e5e5e5;
	font-family:宋体, Arial, Vrinda;
	font-size:12px;
	color:#000;
}
ul, li, ol, p, dl, dt, dd, h1, h2, h3, h4, h5,img, span{ list-style:none; margin:0; padding:0; border: none;}

/*--- 链接样式---*/
a:link, a:visited{color:#085589;text-decoration:none;}
a:hover, a:active{color:#2379d1;text-decoration:underline;}
/* 通用定义---*/
.left 		{float:left;}
.right 		{float:right;}
.clear{
	clear:both;
}
.orange     {color:#ff4800;}
.blue       {color:#0072ff;}
.red        {color:#f00;}
.green      {color:#01c105;}

.Radiostyle{
	vertical-align:middle;
	margin:-3px 5px 0 0;
}
.Font18{
	font-size:18px;
}