.Toptag_Openupicon_1{
	float:right;
	width:22px;
	height:22px;
	background:url(../../../images/default/indiMng/link_in.png) left top no-repeat;
	border:none;
	cursor:pointer;
	margin:2px 0 0;
}
.Toptag_Openupicon_on_1{
	float:right;
	width:22px;
	height:22px;
	background:url(../../../images/default/indiMng/link_in.png) left bottom no-repeat;
	border:none;
	cursor:pointer;
	margin:2px 0 0;
}
