body {
	font-family: 'Microsoft YaHei', 黑体, sans-serif;
}

.TPL {
	display: none;
}

.menu .nav li, .tabs .nav > li {
	float: left;
	cursor: pointer;
}

.head {
	height: 51px;
	position: relative;
	padding: 0px 10px 0px 50px;
	background: #fafafa;
	border-bottom: 1px #e7e7e7 solid;
}

.head .logo {
	position: absolute;
	left: 50px;
	top: 0px;
	background: url(../../../../images/common/subjectv1/headbg.png);
	background-repeat:no-repeat;
	width: 500px;
	height: 45px;
	cursor: pointer;
}

.head .menu {
	float: right;
	font-size: 12px;
	font-family: 'Microsoft YaHei', 黑体, sans-serif;
}

.head .narrow-cnt {
	float: right;
	font-size: 20px;
	width: 20px;
	height: 35px;
	line-height: 68px;
	margin: 0px 10px;
	color: #78BEE6;
}

.head .narrow-cnt:hover {
	color: #1C8DD2;
}

.head .narrow-cnt span {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 21px;
}

.menu-right-next {
	background: url(../../../../images/common/subjectv1/ico.png) no-repeat
		-64px 0;
}

.menu-right-next:hover {
	background-position: -43px 0;
}

.menu-left-previous {
	background: url(../../../../images/common/subjectv1/ico.png) no-repeat
		-23px 0;
}

.menu-left-previous:hover {
	background-position: -85px 0;
}

.head .menu-panel {
	width: calc(30%);
	top: 50px;
	position: absolute;
	padding: 5px 25px;
	z-index: 99998;
	background: #fafafa;
	display: none;
	border: 1px solid #e7e7e7;
}

.head .menu-panel-radius-left {
	border-radius: 0px 0px 5px 5px;
}

.head .menu-panel-radius-right {
	border-radius: 0px 0px 5px 5px;
}

.head .menu-panel-radius-all {
	border-radius: 0px 0px 5px 5px;
}

.head .menu-panel .menu-level-2 {
	margin-top: 10px;
}

.head .menu-panel .menu-level-2 h5 {
	font-size: 12px;
	border-bottom: solid 1px #f0f0f0;
	margin-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

.head .menu-panel .menu-level-2 h5 span.click {
	cursor: pointer;
}

.head .menu-panel .menu-level-2 h5 span.click:hover {
	text-decoration: none;
}

.head .menu-panel .menu-level-2 h5 span.current {
	cursor: default;
}

.head .menu-panel .menu-level-2 .menu-level3-cnt {
	overflow: auto;
}

.head .menu-panel .menu-level-2 a {
	color: #0085d0;
	padding: 5px 20px 0px 0px;
	cursor: pointer;
	float: left;
	margin-bottom: 5px;
}

.head .menu-panel .menu-level-2 a:hover {
	color: #ff6c00;
	text-decoration: none;
}

.head .menu-panel .menu-level-2 .disabled {
	cursor: not-allowed!important;
	color: #C8D0D8;
}

.head .menu-panel .menu-level-2 .disabled:hover {
	color: #C8D0D8;
	text-decoration: none;
}

.head .nav li {
	height: 51px;
	line-height: 51px;
	color: #666;
	border: 1px solid transparent;
}

.head .nav li.active {
	z-index: 99999;
	border-color: #e7e7e7;
	border-bottom: 1px solid #fafafa;
}

.head .nav li.active-page {
	border-bottom: 1px solid #e7e7e7;
}

.head .nav li .single-menu {
	padding: 0px 20px;
	line-height: normal;
}

.head .nav li .single-menu span {
	vertical-align: middle;
}

.head .nav li .single-menu .menu-name {
	margin: 0px;
}

.head .nav li .single-menu .glyphicon {
	font-size: 12px;
	transition: transform 0.3s;
	opacity: 0.6;
}

.head .nav li.active .single-menu .top-menu-arrowdown {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.top-menu-arrowdown {
	width: 11px;
	height: 6px;
	background: url(../../../../images/common/subjectv1/ico.png) no-repeat -4px
		-7px;
}

.tabs {
	height: 34px;
	background: #0085d0;
	color: #fff;
	padding: 0px 50px;
}

.tabs .nav li {
	height: 34px;
	line-height: 34px;
	padding: 0px 20px;
	margin: 0px 2px;
}

.tabs .nav > li ul {
	color:#000;
	position: absolute;
	width: 170px;
	list-style: none;
	font-size: 12px;
	padding: 0px;
	background: #fff;
	z-index: 99999;
	display: none;
	border-top:1px solid #edf2f8;
	border-left:1px solid #edf2f8;
	border-right:1px solid #edf2f8;
}

.tabs .nav > li > ul {
	top:34px;
	left:0px;
}

.tabs .nav li.active > ul {
	display: block;
}

.tabs .nav > li ul li {
	border-bottom: 1px solid #edf2f8;
	position: relative;
	margin: 0px;
	padding-right: 10px;
}

.tabs .nav > li ul li.hasChildren {
	border-bottom: 1px solid #edf2f8;
	position: relative;
}

.tabs .nav > li ul li:hover {
	background:#fafafa;
	color:#0085d0;
}
	

.tabs .nav > li > ul li ul {
	top:0px;
	left:170px;
}

.tabs .nav > li.active, .tabs .nav > li.sel {
	display: block;
	background: rgb(0, 83, 129);
}

.content {
	padding: 20px 35px;
}

.frame {
	margin-left: 250px;
}

.frame .tab-content {
	width: 100%;
	position: relative;
	display: none;
}

.frame .tab-content .close {
	background-image:
		url(../../../../images/common/subjectv1/close.png);
	cursor: pointer;
	width: 35px;
	height: 35px;
	position: absolute;
  	top: -15px;
  	right: -15px;
}

.frame iframe {
	min-height: 1200px;
	border: none;
	width: 100%;
}

.frame > div.active {
	display: block;
}

.left-tree {
	position: absolute;
	width: 240px;
	padding: 20px 10px;
	border: 1px solid #b8d9e9;
}

.left-tree .title {
	position: absolute;
	top: -15px;
	left: 20px;
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #fff;
}

.left-tree .title span {
	font-size: 14px;
	color: #339dd9;
	font-weight: bold;
}

.left-tree .list {
	font-size: 12px;
	list-style: none;
	padding: 0px;
}

.left-tree .list li {
	height: 30px;
	padding-left: 20px;
	line-height: 30px;
	background: url(../../../../images/common/subjectv1/ico1.png) no-repeat 0
		4px;
}

.left-tree .list li a {
	color: #737373;
	text-decoration: none;
}

.left-tree .list li i.ico {
	display: inline-block;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	margin-right: 6px;
}

.left-tree .list li.top {
	background: #fff;
	padding-left: 20px;
	color: #0085d0;
	font-weight: bold;
}

.foot {
	height: 34px;
	color: #727272;
	text-align: center;
	line-height: 34px;
	background: #c9d3de;
}

.foot p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 0px;
	font-size: 13px;
	font-weight: lighter;
}

.toolbar {
	position: fixed;
	right: 10px;
	bottom: 0px;
}

.toolbar .toolbar-line .hover_control{
	display: none
}

.toolbar .toolbar-line:hover .hover_control {
	display: inline-block
}

.toolbar .toolbar_box {
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
	margin-left:2px;
	background-color: #d2d9e1;
	display: inline-block;
	padding: 9px 0 0;
	cursor: pointer;
	float: right;
}

.toolbar .toolbar_box:hover {
	background-color: #5cbdf4;
}

.toolbar .toolbar_box > div{
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.toolbar_user_drafts {
	background:
		url(../../../../images/common/mainv3/toolbar_user_drafts.png)
		no-repeat;
}

.toolbar_user_logout {
	background:
		url(../../../../images/common/mainv3/toolbar_exit.png)
		no-repeat;
}

.toolbar_online {
	background: url(../../../../images/common/mainv3/toolbar_online.png)
		no-repeat;
}

.toolbar_read_mode {
	background: url(../../../../images/common/mainv3/toolbar_read_mode.png)
		no-repeat;
}

.toolbar_top {
	background: url(../../../../images/common/mainv3/toolbar_top.png)
		no-repeat;
}

.msg-cnt {
	position: fixed;
	left: 0px;
	bottom: 10px;
	width: 100%;
	padding: 0px 70px;
	z-index: 9999;
}

.userinfo .modal-body {
	min-height: 270px;
}

.userinfo .row {
	margin-bottom: 15px;
}

.userinfo .login-times-cnt {
	margin-top: 40px;
}

.userinfo .login-times {
	font-size: 60px;
	font-family: "Open Sans", sans-serif;
	color: #7f90a4;
}

.userinfo .login-times-label {
	color: #5b9bd1;
}

.userinfo .tab-cnt {
	text-align: left;
	width: 150px;
	position: absolute;
	left: 15px;
	background-color:#fafafa;
	border-top: 1px solid #f0f4f7;
}

.userinfo ul li {
	border-bottom: 1px solid #f0f4f7;
}

.userinfo ul li.active a {
	background: transparent;
	color: #5b9bd1;
	border-left: 3px solid #5b9bd1;
	border-right: 3px solid #fff;
	margin-left: 0px;
	background-color:#fff;
}

.userinfo ul li a {
	background: transparent;
	color: #93a3b5;
	border-left: 1px solid #f0f4f7;
	border-right: 1px solid #f0f4f7;
}

.userinfo ul li a:hover {
	background: transparent;
	color: #5b9bd1;
	background-color:#f2f6f8;
}

.userinfo ul li a span{
	display:inline-blcok;
	margin-right:10px;
}

.userinfo label {
	display: inline-block;
}

.userinfo .tab-content-cnt {
	margin-left: 200px;
	padding: 0px 15px 0px;
}

.userinfo .tab-content-cnt>div {
	display: none;
}

.userinfo .tab-content-cnt>div.active {
	display: block;
}

.mask {
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mask .progress {
	width: 80%;
	margin: 100px auto;
}

.userslist .modal-body {
	height: 300px;
	padding: 0px;
	overflow: auto;
}

.userslist .userslist-ul {
	list-style: none;
	padding: 0px;
}

.userslist .userslist-ul li {
	list-style: none;
	cursor: pointer;
	border-bottom: 1px solid #EFF2F6;
	padding: 10px 20px;
	color: #888888;
	font-size: 12px;
}

.userslist .userslist-ul li:hover {
	background: rgb(248, 249, 250);
}

.userslist .userslist-ul li .img {
	height: 25px;
	width: 25px;
	display: inline-block;
	background-size: contain;
	vertical-align: middle;
}

.userslist .userslist-ul li .sex-0 {
	background-image: url(../../../../images/common/userslist/0.png);
}

.userslist .userslist-ul li .sex-1 {
	background-image: url(../../../../images/common/userslist/1.png);
}

.userslist .userslist-ul li .users-label {
	margin: 0px 5px;
	padding: 5px;
}

/* 样式控制 */
.hide-left-tree .left-tree {
	display: none;
}

.hide-left-tree .frame {
	margin-left: 0px;
}