/*--- 框架样式---*/
.main {padding:0 0px;}
.main .con_left{width:258px;padding:0px 0 0 0;}
.main .con_right{margin-left:258px;padding:0px 0 0 0}
.main .con_box{padding:10px 0 0 0}

/*--- 标准BOX样式---*/
.con_itembox{padding:3px}
.con_itembox .con_item_title{padding:0 10px;height:32px;line-height:32px;background:url(../../../../images/themes_js/neptune/mobileETE/con_item_title.jpg); border:1px solid #2762a5; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px 4px 0 0;}
.con_itembox .con_item_title h5{color:#fff;font-size:12px;}
.con_itembox .con_item_title span{float:right;padding-top:7px;}
.con_itembox .con_item_title span a{margin:0 0 0 5px; cursor:pointer;}
.con_itembox .con_item_list{padding:0;border:1px solid #dfdfdf;overflow:hidden;background:#fff}

/*--- 首页样式---*/
.search{padding:6px 10px;}
.con_about{padding:10px;line-height:160%;}

.con_ranking{padding:0;background:#fff}
.con_tuop{padding:10px;background:url(../../../../images/themes_js/mobileETE/con_tuop.png);}

.con_tuop .tuop{ margin:0 auto;width:980px; height:240px; position:relative;background:url(../../img/tuop.png)}
.con_tuop .tab_tuop{}
.con_tuop .tab_tuop a{list-style-type:none;height:22px;line-height:22px; position:absolute; text-align:center; cursor:pointer}
.con_tuop .tab_tuop a:hover{text-decoration:none;color:#fff; font-weight:bold;}
.con_tuop .tab_tuop a.tp1{ width:112px; left:3px; bottom:9px;}
.con_tuop .tab_tuop a.tp2{ width:217px; left:143px; bottom:9px;}
.con_tuop .tab_tuop a.tp3{ width:450px; left:387px; bottom:9px;}
.con_tuop .tab_tuop a.tp4{ width:114px; left:862px; bottom:9px;}
.con_tuop .tab_tuop a.hov1{background:url(../../../../images/themes_js/mobileETE/tuopbg.png) no-repeat 0 0;color:#fff; font-weight:bold}
.con_tuop .tab_tuop a.hov2{background:url(../../../../images/themes_js/mobileETE/tuopbg.png) no-repeat -140px 0;color:#fff; font-weight:bold}
.con_tuop .tab_tuop a.hov3{background:url(../../../../images/themes_js/mobileETE/tuopbg.png) no-repeat -384px 0;color:#fff; font-weight:bold}
.con_tuop .tab_tuop a.hov4{background:url(../../../../images/themes_js/mobileETE/tuopbg.png) no-repeat -858px 0;color:#fff; font-weight:bold}

.con_tuop .tuop_table{padding:5px;}
.con_tuop .tuop_table table{border:1px solid #64beff}
.con_tuop .tuop_table table td{height:30px; background:#fff;padding-left:5px; line-height:15px;}
.con_tuop .tuop_table table td.td1{border-left:1px solid #baddfe;border-bottom:1px solid #baddfe;width:18%}
.con_tuop .tuop_table table td.td2{border-left:1px solid #baddfe}
.con_tuop .tuop_table table th{background:#e4f2ff;}

.table_data2 .ratio{ display:inline-block;width:60%;height:6px;font-size:1px;background:#e6e6e6;*display:inline; zoom:1;border-radius:6px;}
.table_data2 .ratio b{float:left;background:#46b2ff;height:6px;border-radius:6px;}

.con_bargraph{padding:6px 3px;}
.con_bargraph .bargraph_title{line-height:30px;padding:0 10px;border-top:1px solid #dedede;border-bottom:1px solid #dedede; background:#f7f7f7}
.con_bargraph .bargraph_title h5{font-size:12px;}
.con_bargraph .bargraph_title .more_left{float:right;width:104px;height:21px;line-height:21px;margin-top:5px;background:url(../../../../images/themes_js/neptune/mobileETE/icon.png) no-repeat 0 -106px;}
.con_bargraph .bargraph_title .more_left a{padding:0 12px;display:inline-block;}
.con_bargraph .bargraph_title .more_left a.hover{width:32px;height:21px; text-align:center;background:url(../../../../images/themes_js/neptune/mobileETE/icon.png) no-repeat 0 -132px;color:#fff}

.con_bargraph .bargraph{ text-align:center}

/*--- 业务质量监控样式---*/
.con_text{padding:8px 0;height:134px;border:5px solid #fff; font-size:14px;font-weight:bold;line-height:240%;text-align:center;overflow:hidden;background:#f7f7f7}
.con_pic{padding:2px 0;border:5px solid #fff;text-align:center;border-left:0px solid #fff;background:#f7f7f7}
.con_text_none{border-bottom:0px solid #fff;}
.con_text_none2{border-right:0px solid #fff;background:#f7f7f7 url(../../../../images/themes_js/mobileETE/xuxian.png) no-repeat right 10px;}

/*--- 弹出样式---*/
.bank_list{height:248px;border:1px solid #f5f5f5;background:#fafafa;}
.bank_box{padding:5px;background:url(../../../../images/themes_js/neptune/mobileETE/bankbg.png)}
.bank_box .bank_title{padding:0 6px;height:25px;line-height:20px;}
.bank_box .bank_title h5{float:left;color:#157fcc;font-size:12px;}
.bank_box .bank_title span{float:right}


.align_center{float:left; width:100%;text-align:center;padding:6px 0}

.setBtn{width:6%; text-align:center;padding-top:60px;}
.setBtn a{ display:block;width:23px;height:24px;margin:0 auto 10px auto;cursor:pointer;background:url(../../../../images/themes_js/neptune/mobileETE/bank_btn.png) no-repeat}
.setBtn a.btn_left_m{background-position:left 0;}
.setBtn a.btn_left{background-position:left -28px;}
.setBtn a.btn_right{background-position:left -56px;}
.setBtn a.btn_right_m{background-position:left -84px;}
.setBtn a:hover.btn_left_m{background-position:-28px 0;}
.setBtn a:hover.btn_left{background-position:-28px -28px;}
.setBtn a:hover.btn_right{background-position:-28px -56px;}
.setBtn a:hover.btn_right_m{background-position:-28px -84px;}

.Treebox{
	margin:10px 0 0;
}
.Treebox a{
	height:24px;
	line-height:24px;
	text-decoration:none;
	display:block;
	padding:0 0 0 10px;
}
.Treebox a:hover{
	height:24px;
	line-height:24px;
	background:#f6f6f6;
	text-decoration:none;
	display:block;
	padding:0 0 0 10px;
	color:#333;
}
.Treebox ul li{
	text-indent:15px;
}
.con_item_list_tab{
	background:#f5f5f5;
	border-bottom:1px solid #e5e5e5;
}
.con_item_list_tab ul li{
	float:left;
	white-space:nowrap;
	text-align:center;
	empty-cells:show;
}
.con_item_list_tab ul li a{
	color:#333;
	line-height:36px;
	display:block;
	padding:0 20px;
}
.con_item_list_tab ul li a:hover{
	text-decoration:none;
	font-weight:bold;
	line-height:36px;
	border-bottom:2px solid #ff6c00;
	display:block;
	padding:0 20px;
}
.con_item_list_tab ul li a:active{
	text-decoration:none;
	font-weight:bold;
	line-height:36px;
	border-bottom:2px solid #ff6c00;
	display:block;
	padding:0 20px;
}

.con_item_tab{
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tab.jpg) repeat-x;
	padding:0 10px 0 4px;
	border:1px solid #2762a5;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px 4px 0 0;
}
.con_item_tab a{
	text-decoration:none;
}
.con_item_tab a:hover{
	text-decoration:none;
}
.con_item_tab_left{
	width:10px;
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tab_left.jpg) no-repeat;
}
.con_item_tab_center{
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tab_center.jpg) repeat-x;
	padding:0 8px;
	line-height:36px;
	color:#1e6bb7;
}
.con_item_tab_right{
	width:10px;
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tab_right.jpg) no-repeat;
}
.con_item_tabhover_left{
	width:10px;
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tabhover_left.jpg) no-repeat;
}
.con_item_tabhover_center{
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tabhover_center.jpg) repeat-x;
	padding:0 8px;
	line-height:36px;
	font-weight:bold;
	color:#125393;
}
.con_item_tabhover_right{
	width:10px;
	height:32px;
	background:url(../../../../images/themes_js/neptune/mobileETE/con_item_tabhover_right.jpg) no-repeat;
}

.colorLump{
	width:11px;
	height:11px;
	border:1px solid #FFF;
	margin:0 5px;
	display:inline-block;
}
.Arrowpre{
	width:18px;
	height:36px;
	background:url(../../images/mobileETE/Pre_next.png) -18px top no-repeat;
	border:none;
	cursor:pointer;
}
.Arrowpre_on{
	width:18px;
	height:36px;
	background:url(../../images/mobileETE/Pre_next.png) -36px top no-repeat;
	border:none;
	cursor:pointer;
}
.Arrownext{
	width:18px;
	height:36px;
	background:url(../../images/mobileETE/Pre_next.png) -72px top no-repeat;
	border:none;
	cursor:pointer;
}
.Arrownext_on{
	width:18px;
	height:36px;
	background:url(../../images/mobileETE/Pre_next.png) -54px top no-repeat;
	border:none;
	cursor:pointer;
}
.Indicator a{
	height: 120px;
	text-decoration:none;
	text-align:center;
	background:#f5f5f5;
	border:1px solid #eee;
	color:#000;
	display:block;
}
.Indicator a:hover{
	height: 120px;
	text-align:center;
	background:#ecf6ff;
	border:1px solid #daedff;
	display:block;
}
.Indicatortitle{
	/* width:120px; */
	text-align:center;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	margin:8px auto 12px;
}
.Indicatorbottom{
	margin:5px auto;
}
.Indicatorbottom td{
	padding:2px 0;
}
