div.onlineusersBox {
	
}

div.onlineusersBox div.usersLine {
	padding: 10px;
	text-align: center;
}

div.onlineusersBox div.onlineUserLabel {
	height: 70px;
	width: 70px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
	text-align: center;
}

div.onlineusersBox div.active {
	background: white;
}

div.onlineusersBox div.onlineUserLabel table.userDetailDom {
	margin-top:7px;
	font-size: 12px;
	width: 170px;
	display: none;
	float: right;
	text-align: left;
}

div.onlineusersBox div.onlineUserLabel table.userDetailDom a.deptInfo {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}

div.onlineusersBox div.onlineUserLabel a.onlineUserHead {
	display: inline-block;
	width: 50px;
	margin-left: 10px;
	float: left;
	height: 50px;
}

div.onlineusersBox div.onlineUserLabel a.onlineUserHead_0 {
	background: url("../../../images/common/userslist/0.png") no-repeat;
}

div.onlineusersBox div.onlineUserLabel a.onlineUserHead_1 {
	background: url("../../../images/common/userslist/1.png") no-repeat;
}

div.onlineusersBox div.onlineUserLabel a.nameLabel {
	font-size: 12px;
	width: 100%;
	float: left;
	text-align: center;
}