@CHARSET "UTF-8";
.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}
.tab-new {
    background-image: url(../../../../images/themes/blue/redismng/tab_new.gif) !important;
}
.feed-add {
    background-image: url(../../../../images/themes/blue/redismng/rss_add.gif) !important;
}
.feed-remove {
    background-image: url(../../../../images/themes/blue/redismng/rss_delete.gif) !important;
}
.feed-load {
    background-image: url(../../../../images/themes/blue/redismng/rss_load.gif) !important;
}
.open-all {
    background-image: url(../../../../images/themes/blue/redismng/tabs.gif) !important;
}
.feed {
    width: 16px;
    height: 16px;
    background-image: url(../../../../images/themes/blue/redismng/rss.gif) !important;
}

.feed-list {
    padding: 0 3px 0 3px;
}
.feed-list-item {
    margin-top: 3px;
    padding-left: 20px;
    font-size: 11px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #fff;
}
.feed-item-String{
	background: url(../../../../images/themes/blue/redismng/String.png) no-repeat 0 2px;
}
.feed-item-Set{
	background: url(../../../../images/themes/blue/redismng/Set.png) no-repeat 0 2px;
}
.feed-item-Zset{
	background: url(../../../../images/themes/blue/redismng/Zset.png) no-repeat 0 2px;
}
.feed-item-List{
	background: url(../../../../images/themes/blue/redismng/List.png) no-repeat 0 2px;
}
.feed-item-Hash{
	background: url(../../../../images/themes/blue/redismng/Hash.png) no-repeat 0 2px;
}
.feed-list .x-item-selected {
    font-weight: bold;
    color: #15428B;
    background-color: #DFE8F6;
    border: 1px dotted #A3BAE9;
}
.feed-list-item-hover {
    background-color: #eee;
    color:#15428B;
}
.feed-grid .x-grid-rowbody {
    margin: 5px 20px 10px 25px !important;
    color: #555;
    font-size: 11px;
}
.articlepreview .x-toolbar {
    border-top-width: 1px !important;
}
.preview .x-panel-body {
    background:#fff;
    color:#222;
    font:normal 12px tahoma,verdana,arial,sans-serif;
}
/*
.preview .x-panel-body ul {
    margin-left:18px;
}

.preview .x-panel-body ul li {
    display:list-item;
    list-style-image:none !important;
    list-style-position:outside !important;
    list-style-type:disc !important;
    margin-left:18px;
}

 .preview .x-panel-body pre, #preview .x-panel-body code {
    background:#f1f1f1;
    display:block;
}

.preview .x-panel-body h4.post-author {
    font-weight:normal;
    color:#555;
    font-size:11px;
}
.preview .x-panel-body span.post-date {
    font-weight:normal;
    color:#555;
    float:right;
    font-size:11px;
} */
.preview .x-panel-body div.post-data {
    background:#f1f2f4;
    padding:5px;
    border-bottom:1px solid #dadadb;
}
.preview .x-panel-body div.post-data .post-title{
	color:green;
}
.preview .x-panel-body div.post-body {
    padding:10px;
}

.x-tab-bar-body {
    border-width: 1px 1px 0 1px !important;
}