@CHARSET "UTF-8";
.x-icon-startargs {
    background-image: url('../../../../images/themes/blue/controlpanel/startargs.png');
}
.x-icon-initredis {
    background-image: url('../../../../images/themes/blue/controlpanel/initredis.png');
}
.x-btn {
    margin-left:10px;
}

/*buttons*/
.x-btn-default-large .clearAll {
    background-image: url(../../../../images/themes/blue/controlpanel/clearAll.png) !important;
}
.x-btn-default-large .basedata {
    background-image: url(../../../../images/themes/blue/controlpanel/basedata.png) !important;
}
.x-btn-default-large .deptrel {
    background-image: url(../../../../images/themes/blue/controlpanel/deptrel.png) !important;
}
.x-btn-default-large .notice {
    background-image: url(../../../../images/themes/blue/controlpanel/notice.png) !important;
}
.x-btn-default-large .resource {
    background-image: url(../../../../images/themes/blue/controlpanel/resource.png) !important;
}
.x-btn-default-large .resourcerole {
    background-image: url(../../../../images/themes/blue/controlpanel/resourcerole.png) !important;
}

.x-btn-default-large .userrole {
    background-image: url(../../../../images/themes/blue/controlpanel/userrole.png) !important;
}

.x-btn-default-large .custom {
    background-image: url(../../../../images/themes/blue/controlpanel/default.png) !important;
}

.x-btn-default-large .loading {
    background-image: url(../../../../images/themes/blue/controlpanel/loading.gif) !important;
}

ul li{
	margin: 0 0 10px 10px;
}
ul li span{
	font-weight:bold;
	color: orange;
}
