#showNotificationDetailPanel-body {
	overflow-y: hidden;
	overflow-x: hidden;
}

.notice_details {
	font-size: 12px;
	color: #333;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	padding: 0px;
	line-height: 26px;
	font-family: Arial, Helvetica, sans-serif;
}

.notice_details_head {
	background: #f6faff;
	padding: 10px 15px;
	border-bottom: 1px solid #cae1ff;
}

.notice_details h2 {
	font-size: 16px;
	padding: 0;
	margin: 0;
}

.notice_details p {
	padding: 0;
	margin: 0;
}

.notice_details p font {
	color: #898989;
	font-size: 12px;
}

.notice_details_content {
	overflow-y: auto !important;
	overflow: -moz-scrollbars-vertical;
	padding: 10px 15px;
}

.notice_details_content p1 {
	padding: 5px;
	background: #FFF;
}

.notice_details_foot {
	background: #f6faff;
	padding: 10px 15px;
	position: absolute;
}

.notice_details a {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.attachment {
	color: #060aff;
	cursor: pointer;
}