.notificationTitle {
	vertical-align: middle;
	margin-left: 5px;
}

.unRead {
	font-weight: bold !important;
}

.icon {
	vertical-align: middle;
}
.notificationTitleTop {
	vertical-align: middle;
	color: red !important;
	margin-left: 5px;
}

.notificationTime {
}

.notificationType {
	vertical-align: middle;
	margin-left: 5px;
}

.notificationStatus0 {
	color: #663300 !important;
	font-weight: bold !important;
}

.notificationStatus1 {
	color: #00CC00 !important;
	font-weight: bold !important;
}

.notificationStatus2 {
	color: red !important;
	font-weight: bold !important;
}
