html .x-body{font-family:'Microsoft YaHei','黑体', sans-serif;}
body{ margin:0; padding:12px 0; font-family:'Microsoft YaHei','黑体', sans-serif; font-size:13px; color:#484848; background-color:#edf2f8;}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	text-decoration:none;
	color:#484848;
}
h1,h2,h3{
	margin:0;
	padding:0;
}
b{
	font-weight:lighter;
}
p{
	margin:0;
	padding:0;
}
.fl{ float:left;}
.fr{ float:right;}
.clear{ clear:both; padding:0;}
.c_red{ color:red;}
.c_green{ color:#00ce10;}

.clumn_box{
	background-color:#fff;
	border:none;
	padding:0 10px 10px;
}
.clumn_box_top{
	border-bottom:1px solid #ddd;
	height:39px;
	line-height:39px;
}
.clumn_box_top_icon{
	width:3px;
	height:16px;
	display:block;
	background-color:#0085d0;
	margin:12px 8px 0;
}
.clumn_box h3{
	color:#565656;
	font-size:16px;
	font-weight:lighter;
}
.clumn_topTab{
	height:36px;
	line-height:36px;
	font-size:14px;
	border-bottom:1px solid #ddd;
	padding:0 0 3px 0;
}
.clumn_topTab a{
	display:block;
	padding:0px 15px;
	color:#999;
}
.clumn_topTab a:hover{
	border-bottom:3px solid #1e84cc;
	color:#484848;
}
.clumn_topTab_over{
	padding:0px 15px;
	border-bottom:3px solid #1e84cc;
	font-weight:lighter;
	color:#000;
}
.clumn_box_content{
	margin:8px 0;
}
.leftlist li{
	width:230px;
	padding:5px 0;
}
.leftlist li p{
	margin:10px 0 0 20px;
	line-height:20px;
	color:#757575;
}
.leftlist_icon{
	width:11px;
	height:12px;
	background:url(../../../images/special/login/common/leftlist_icon.png) no-repeat;
	display:block;
	margin:2px 5px;
}
.leftlist_text{
	width:207px;
	line-height:20px;
}
.form_table td{
	padding:7px 5px;
}
.form_table td b{
	font-size:14px;
}
.form_table_title{
	background-color:#f2f2f2;
}
.form_td{
	border-bottom:1px dotted #d5d5d5;
}
.checkbox_style{
	vertical-align:middle;
	margin:-2px 7px 0;
}
.select_style{
	border:1px solid #ddd;
	padding:4px;
}
.btnstyle_default{
	background-color:#439dfa;
	padding:5px 14px;
	color:#fff;
	font-size:14px;
	border-radius:2px;
}
.btnstyle_default_over{
	background-color:#65b1ff;
	padding:5px 14px;
	color:#fff;
	font-size:14px;
	border-radius:2px;
}
.btnstyle_gray{
	background-color:#c8c8c8;
	padding:5px 14px;
	color:#fff;
	font-size:14px;
	border-radius:2px;
}
.btnstyle_gray_over{
	background-color:#d8d8d8;
	padding:5px 14px;
	color:#fff;
	font-size:14px;
	border-radius:2px;
}
.btn_style{
	border:none;
	cursor:pointer;
}
.indicator_back{
	padding:10px 0 0;
}
.indicator_back h1{
	font-size:30px;
	display:inline-block;
	padding:2px 0 5px;
}
.indicator_back h2{
	font-size:22px;
	display:inline-block;
	padding:11px 0 5px;
}
.indicator_back b{
	font-size:14px;
}
.indicator_back b,.indicator_back h1,.indicator_back h2,.indicator_back font{
	color:#fff;
}
.indicator_back span{
	color:#484848;
}
.takeup{
	width:15px;
	height:12px;
	background:url(../../../images/special/login/common/takeup.png) no-repeat;
}
.takedown{
	width:15px;
	height:12px;
	background:url(../../../images/special/login/common/takedown.png) no-repeat;
}
.more{
	color:#888;
}
.more:hover{
	color:#0085d0;
}
.pages{
	margin:10px auto;
}
.pages a{
	background:#f6f7fb;
	color:#666;
	padding:6px 12px;
	border-radius:2px;
}
.pages .active{
	background:#5cbdf4;
	color:#fff;
	padding:6px 12px;
}
.pages a:hover{
	background:#5cbdf4;
	color:#fff;
	padding:6px 12px;
}
.quota_arrow_up{
	width:11px;
	height:16px;
	background:url(../../../images/special/login/common/quota_arrow_up.png) no-repeat;
	margin:1px 0 0 5px;
}
.quota_arrow_down{
	width:11px;
	height:16px;
	background:url(../../../images/special/login/common/quota_arrow_down.png) no-repeat;
	margin:1px 0 0 5px;
}
.clumn_arrowup{
	width:24px;
	height:24px;
	background:url(../../../images/special/login/common/clumn_box_arrowup.png) no-repeat;
	margin:8px 5px 0;
}
.clumn_arrowup_over{
	width:24px;
	height:24px;
	background:url(../../../images/special/login/common/clumn_box_arrowup_over.png) no-repeat;
	margin:8px 5px 0;
}
.clumn_arrowdown{
	width:24px;
	height:24px;
	background:url(../../../images/special/login/common/clumn_box_arrowdown.png) no-repeat;
	margin:8px 5px 0;
}
.clumn_arrowdown_over{
	width:24px;
	height:24px;
	background:url(../../../images/special/login/common/clumn_box_arrowdown_over.png) no-repeat;
	margin:8px 5px 0;
}
.bottom_take_all{
	width:72px;
	display:block;
	margin:0 auto;
	color:#aaa;
}
.bottom_take_all:hover{
	color:#0085d0;
}
.bottom_take_all i{
	margin:4px 0 0 5px;
}
/*---------------------色块-------------------------------------------------*/
.back_color00{
	background-color:#d5d5d5;
}
.back_color01{
	background-color:#5db75d;
}
.back_color02{
	background-color:#fcb247;
}
.back_color03{
	background-color:#85c3fc;
}
.back_color04{
	background-color:#f6803a;
}
.back_color05{
	background-color:#ba8bd1;
}
.back_color06{
	background-color:#98b652;
}
.back_color07{
	background-color:#e6d02f;
}
.back_color08{
	background-color:#56c8c9;
}
.back_color09{
	background-color:#dd69aa;
}
.back_color10{
	background-color:#7688f7;
}
.back_color11{
	background-color:#54ba67;
}
.back_color12{
	background-color:#bdbf3a;
}
.bc01_bottom_arrow{
	width:16px;
	height:8px;
	background:url(../../../images/special/login/common/bc01_bottom_arrow.png) no-repeat;
}
.bc04_bottom_arrow{
	width:16px;
	height:8px;
	background:url(../../../images/special/login/common/bc04_bottom_arrow.png) no-repeat;
}
.bc05_bottom_arrow{
	width:16px;
	height:8px;
	background:url(../../../images/special/login/common/bc05_bottom_arrow.png) no-repeat;
}
.bc06_bottom_arrow{
	width:16px;
	height:8px;
	background:url(../../../images/special/login/common/bc06_bottom_arrow.png) no-repeat;
}
.bc07_bottom_arrow{
	width:16px;
	height:8px;
	background:url(../../../images/special/login/common/bc07_bottom_arrow.png) no-repeat;
}