body {
	background-color: #EFF3F8;
}

.TPL {
	display: none;
}

.menu .nav li, .tabs li {
	float: left;
	cursor: pointer;
}

.head {
	height: 60px;
	position: relative;
	padding: 0px 100px;
	background: #d1eefe;
	background: url(../../../../images/common/mainv2/headbg2.png);
}

.head .logo {
	position: absolute;
	height: 100%;
	left: 100px;
	top: 0px;
	background: url(../../../../images/common/mainv2/headbg.png);
	width: 500px;
	cursor: pointer;
}

.head .menu {
	float: right;
	height: 35px;
	margin-top: 15px;
	font-family: '微软雅黑'
}

.head .narrow-cnt {
	float: right;
	font-size: 20px;
	width: 20px;
	height: 65px;
	line-height: 68px;
	margin: 0px 10px;
	color: #78BEE6;
}

.head .narrow-cnt:hover {
	color: #1C8DD2;
}

.head .narrow-cnt span {
	cursor: pointer;
	display: inline-block;
	width:16px;
	height:21px;
	background: url(../../../../images/common/mainv2/menu-right-next.png);
}

.menu-right-next{
}

.menu-left-previous{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.head .menu-panel {
	width: calc(30%);
	top: 49px;
	position: absolute;
	padding: 5px 25px;
	z-index: 99998;
	background: #fff;
	display: none;
}

.head .menu-panel-radius-left {
	border-radius: 5px 0px 5px 5px;
}

.head .menu-panel-radius-right {
	border-radius: 0px 5px 5px 5px;
}

.head .menu-panel-radius-all {
	border-radius: 5px 5px 5px 5px;
}

.head .menu-panel .menu-level-2 {
	margin-top: 10px;
}

.head .menu-panel .menu-level-2 h5 {
	/* 	color: #3E4D5C;
 */
	color: #383838;
	font-weight: bold;
	border-bottom: solid 1px #f0f0f0;
	margin-top: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

.head .menu-panel .menu-level-2 h5 span.click {
	cursor: pointer;
}

.head .menu-panel .menu-level-2 h5 span.click:hover {
	text-decoration: none;
}

.head .menu-panel .menu-level-2 h5 span.current {
	cursor: default;
}

.head .menu-panel .menu-level-2 .menu-level3-cnt {
	overflow: auto;
}

.head .menu-panel .menu-level-2 a {
	/*color: #3E4D5C;*/
	color: #0085d0;
	font-size: 13px;
	padding: 5px 20px 0px 0px;
	cursor: pointer;
	float: left;
	margin-bottom: 5px;
}

.head .menu-panel .menu-level-2 a:hover {
	color: #ff6c00;
	text-decoration: none;
}

.head .menu-panel .menu-level-2 a.disabled {
	cursor: not-allowed;
	color: #C8D0D8;
}

.head .menu-panel .menu-level-2 a.disabled:hover {
	color: #C8D0D8;
	text-decoration: none;
}

.head .nav li {
	height: 35px;
	line-height: 35px;
	color: #333;
	border-radius: 5px 5px 0px 0px;
}

.head .nav li.active {
	background: #fff;
	z-index: 99999;
	border-color: #ccc;
}

.head .nav li.active-page {
	border-radius: 5px;
}

.head .nav li .single-menu {
	padding: 0px 20px;
	line-height: normal;
}

.head .nav li .single-menu span{
	vertical-align:middle;
}

.head .nav li .single-menu .menu-name {
	margin: 0px;
	color: #010004;
}

.head .nav li .single-menu .glyphicon {
	font-size: 12px;
	transition: transform 0.3s;
	opacity: 0.6;
}

.head .nav li.active .single-menu .top-menu-arrowdown {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}

.top-menu-arrowdown{
	width:11px;
	height:6px;
	background: url(../../../../images/common/mainv2/top-menu-arrowdown.png);
}

.tabs {
	height: 34px;
	background: #0085d0;
	color: #fff;
	padding: 0px 100px;
}

.tabs .nav li {
	height: 34px;
	line-height: 34px;
	padding: 0px 20px;
	margin: 0px 2px;
	display: none;
}

.tabs .nav li.active {
	display: block;
	background: rgb(0, 83, 129);
}

.frame {
	padding: 10px 100px;
}

.frame iframe {
	min-height: 1200px;
	border: none;
	display: none;
	width: 100%;
}

.frame iframe.active {
	display: block;
}

.foot {
	height: 34px;
	color: #727272;
	text-align: center;
	line-height: 34px;
	background: #c9d3de;
}

.foot p {
	margin: 0px;
	font-size:13px;
	font-weight:lighter;
}

.toolbar {
	position: fixed;
	right: 0px;
	bottom: 0px;
}

.toolbar > div{
	cursor: pointer;
}

.toolbar .toolbar_box {
	width:48px;
	height:48px;
	margin-bottom: 10px;
	background-color:#d2d9e1;
	display:block;
	padding:9px 0 0;
	
}

.toolbar .toolbar_box_over{
	width:120px;
	height:48px;
	margin-bottom: 10px;
	background-color:#d2d9e1;
	display:block;
	padding:9px 0 0 10px;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	line-height:26px;
}

.toolbar_box:hover,.toolbar_box_over:hover {
	background-color:#5cbdf4;
}

.toolbar_user_drafts{
	width:30px;
	height:30px;
	background: url(../../../../images/common/mainv2/toolbar_user_drafts.png) no-repeat;
	margin:0 auto;
}

.toolbar_online{
	width:30px;
	height:30px;
	background: url(../../../../images/common/mainv2/toolbar_online.png) no-repeat;
	margin:0 auto;
}

.toolbar_read_mode{
	width:30px;
	height:30px;
	background: url(../../../../images/common/mainv2/toolbar_read_mode.png) no-repeat;
	margin:0 auto;
}

.toolbar_top{
	width:30px;
	height:30px;
	background: url(../../../../images/common/mainv2/toolbar_top.png) no-repeat;
	margin:0 auto;
}

.msg-cnt {
	position: fixed;
	left: 0px;
	bottom: 10px;
	width: 100%;
	padding: 0px 70px;
	z-index: 9999;
}

.userinfo .modal-body {
	min-height: 270px;
}

.userinfo .row {
	margin-bottom: 15px;
}

.userinfo .login-times-cnt {
	margin-top: 40px;
}

.userinfo .login-times {
	font-size: 60px;
	font-family: "Open Sans", sans-serif;
	color: #7f90a4;
}

.userinfo .login-times-label {
	color: #5b9bd1;
}

.userinfo .tab-cnt {
	text-align: left;
	width: 200px;
	position: absolute;
	left: 15px;
}

.userinfo ul li {
	border-bottom: 1px solid #f0f4f7;
}

.userinfo ul li.active a {
	background: transparent;
	color: #5b9bd1;
	border-right: 2px solid #5b9bd1;
	margin-right: -2px;
}

.userinfo ul li a {
	background: transparent;
	color: #93a3b5;
}

.userinfo ul li a:hover {
	background: transparent;
	color: #5b9bd1;
}

.userinfo label {
	display: inline-block;
}

.userinfo .tab-content-cnt {
	margin-left: 230px;
	padding: 0px 15px 0px;
}

.userinfo .tab-content-cnt>div {
	display: none;
}

.userinfo .tab-content-cnt>div.active {
	display: block;
}

.mask {
	height: 100%;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
}

.mask .progress {
	width: 80%;
	margin: 100px auto;
}

.userslist .modal-body {
	height: 300px;
	padding: 0px;
	overflow: auto;
}

.userslist .userslist-ul {
	list-style: none;
	padding: 0px;
}

.userslist .userslist-ul li {
	list-style: none;
	cursor: pointer;
	border-bottom: 1px solid #EFF2F6;
	padding: 10px 20px;
	color:#888888;
	font-size: 12px;
}

.userslist .userslist-ul li:hover {
	background: rgb(248,249,250);
}

.userslist .userslist-ul li img {
	height: 25px;
	width: 25px;
}

.userslist .userslist-ul li .users-label{
	margin:0px 5px;
	padding: 5px;
}