.Indicator a{
	text-decoration:none;
	text-align:center;
	background:#f5f5f5;
	border:1px solid #eee;
	color:#000;
	display:block;
}
.Indicator a:hover{
	text-align:center;
	background:#ecf6ff;
	border:1px solid #daedff;
	display:block;
}
.Indicatortitle{
	width:120px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	overflow:hidden;
	margin:8px auto 12px;
}
.Indicatorbottom{
	margin:5px auto;
}
.Indicatorbottom td{
	padding:2px 0;
}
.Rankings td{
	padding:5px;
}
.Rankings_top{
	background:#f7f7f7;
	border-top:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	font-size:14px;
	line-height:24px;
	font-weight:bold;
	padding:5px;
}
.Mywork{
	margin:0 auto;
}
.Mywork td{
	padding:8px;
}
.Myworktd1{
	border-right:1px dotted #666;
	border-bottom:1px dotted #666;
}
.Myworktd2{
	border-bottom:1px dotted #666;
}
.Myworktd3{
	border-right:1px dotted #666;
}
.Mywork td a{
	color:#ff6c00;
	font-weight:bold;
}
.Mywork td a:hover{
	color:#000;
}
.Special td{
	padding:8px 0 0;
}
.Speciallink1{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink1_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) left bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink2{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -127px top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink2_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -127px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink3{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -254px top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink3_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -254px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink4{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -381px top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink4_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -381px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink5{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -508px top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink5_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) -508px bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink6{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) right top no-repeat;
	border:none;
	cursor:pointer;
}
.Speciallink6_on{
	width:127px;
	height:33px;
	background:url(../../../images/themes_js/blue/Speciallink.png) right bottom no-repeat;
	border:none;
	cursor:pointer;
}
.Formwindow{
	width:33px;
	height:33px;
	background:url(../../../images/themes_js/blue/Formwindow.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
.Formwindow_on{
	width:33px;
	height:33px;
	background:url(../../../images/themes_js/blue/Formwindow.png) right top no-repeat;
	border:none;
	cursor:pointer;
}
.Requirebtn{
	width:106px;
	height:30px;
	background:url(../../../images/themes_js/blue/Requirebtn.png) left top no-repeat;
	border:none;
	cursor:pointer;
}
.Requirebtn_on{
	width:106px;
	height:30px;
	background:url(../../../images/themes_js/blue/Requirebtn.png) left bottom no-repeat;
	border:none;
	cursor:pointer;
}
