@CHARSET "UTF-8";

a.btn-white-big {
	background: url("../../../images/themes/blue/btn/btn_white_big.png")
		no-repeat scroll center top transparent;
	color: #2d7698;
	display: inline-block;
	font-family: 微软雅黑, 宋体;
	font-size: 18px;
	height: 32px !important;
	padding-top: 3px;
	text-align: center;
	text-decoration: none;
	width: 95px;
}

a.btn-white-big:hover {
	background-position: center -35px;
}

.loading {
	background: url("../../../images/themes/blue/main/loading.gif")
		no-repeat scroll center top transparent;
	font-size: 16px;
	margin-top: 10px;
	padding-top: 50px;
	text-align: center;
}

#new_noc_panel {
	background: url("../../../images/themes/blue/nocbox/bg.png") repeat
		scroll 0 0 transparent;
	background: #e6f2ff;
	border: 2px solid #c9ddf0;
	display: none;
	height: auto;
	margin-top: 100px;
	padding: 10px;
	position: absolute;
	text-align: center;
	width: 450px;
	z-index: 99101;
}

#new_noc_panel .loading {
	padding-top: 60px;
}

#new_noc_panel .button {
	padding-top: 5px;
}

#new_noc_panel .button a.btn-white-big {
	font-size: 14px;
}

#new_noc_title {
	background:
		url("../../../images/themes/blue/nocbox/noc_panel_title.jpg")
		no-repeat scroll left center transparent;
	border-bottom: 1px solid #589de5;
	height: 38px;
}

#new_noc_list {
	background-color: #FFFFFF;
	height: 100%;
	overflow-y: auto;
	text-align: left;
}

#nocbox_tips {
	background-color: #FFFFFF;
	display: none;
	font-size: 14px;
	text-align: center;
	height: 100%;
}

.noc_iterm_title {
	background:
		url("../../../images/themes/blue/nocbox/noc_title_bg.png") repeat-x
		scroll center center transparent;
	color: #1694de;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
}

.noc_iterm_close,.noc_iterm_time {
	float: right;
	margin-right: 10px;
}

.noc_iterm_close,.noc_iterm_read,.noc_iterm_cancel {
	background: url("../../../images/themes/blue/nocbox/noc_close.png")
		no-repeat scroll center center transparent;
	cursor: pointer;
	height: 16px;
	margin-top: 7px;
	width: 16px;
}

.noc_iterm_data li {
	background: url("../../../images/themes/blue/nocbox/noc_li_dot.png")
		no-repeat scroll 10px center #F7F7F7;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #FFFFFF;
	cursor: pointer;
	font: 12px/1.6em Lucida Console, consolas, "Arial";
	list-style: none outside none;
	padding: 10px 10px 10px 30px;
}

.noc_iterm_info {
	white-space: nowrap;
	color: #666666;
	cursor: pointer;
	font-weight: bold;
}

.noc_iterm_content {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 240px;
}

.noc_iterm_time {
	color: #FF7403;
}

.noc_iterm_data li.noc_iterm_hover {
	background-color: #FFFFFF;
}

.noc_iterm_view {
	color: #999999;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
}

.noc_iterm_view a,.noc_iterm_view a:link,.noc_iterm_view a:visited .noc_iterm_view a:hover
	{
	color: #317ED8;
	text-decoration: none;
}

.noc_iterm_num {
	color: red;
}

.noc_iterm_close {
	margin-top: 10px;
}

.noc_iterm_history {
	float: right;
	margin-right: 15px;
	margin-top: 12px;
}

.noc_iterm_history a {
	text-decoration: none;
	color: blue;
}

.noc_iterm_history a:hover {
	color: #3B6EA7;
}

.noc_iterm_read {
	background: url("../../../images/themes/blue/nocbox/read.png")
		no-repeat scroll center center transparent;
	float: right;
	margin-right: 10px;
}

.noc_iterm_cancel {
	background: url("../../../images/themes/blue/nocbox/cancel.png")
		no-repeat scroll center center transparent;
	float: right;
	margin-right: 10px;
}

#nocbox_tips .red {
	color: red;
	font-family: Lucida Console, consolas;
	padding: 0 2px;
}