#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}
#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet-full{
	margin : 8px;
	padding: 1px;
}

.no-margin{
	margin: 0px !important;
}

.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
.settings {
    background-image:url(../shared/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(../shared/icons/fam/folder_go.png);
}
.info {
    background-image:url(../shared/icons/fam/information.png);
}


.menu-title{
    background: #b1e2ff;
    border-style: solid;
    border-color:#DAE6F4 #83c5f3 #83c5f3 #DAE6F4;
    border-width: 1px;
    margin:-2px -2px 0;
    color:#15428b;
    font:bold 13px tahoma,arial,verdana,sans-serif;
    display:block;
    padding:3px;
}
.poratlButton{
	background:url("../../../../images/themes/access/portal/butnbg01.jpg") no-repeat;
	width:83px;
	/* border:1px solid #3895e3; */
	height:24px;
	line-height:20px;
	margin-right:5px;
	color:#fff;
	border:0px;
	padding-left:14px;
}
.poratlButton-on{
	background:url("../../../../images/themes/access/portal/butnbgon01.jpg") no-repeat;
	width:83px;
	/* border:1px solid #3895e3; */
	height:24px;
	line-height:20px;
	margin-right:5px;
	color:#fff;
	border:0px;
}

.poratlNavi{
	padding:3px;
	height:32px;
	border:1px solid #26292d;
	background:#3d3b49;
	text-align:right;
	margin-top:3px;
}

.leftTree{
	background:url("../../../../images/themes/access/portal/leftbg.png") no-repeat !important;
	width:150px;
	position:absolute;
	left:0px;
	bottom:0px;
	z-index::99999999;
	height:100%;
}

.addNewPortalButton{
	background:url("../../../../images/themes/access/portal/butnbg.png") no-repeat;
	width:90px;
	border:0px;
	height:25px;
	line-height:20px;
	margin-right:5px;
	color:#fff;
	/* border:1px solid #3895e3; */
}

.addNewPortalButton-on{
	background:url("../../../../images/themes/access/portal/butnbg-on.png") no-repeat;
	width:90px;
	border:0px;
	height:25px;
	line-height:20px;
	margin-right:5px;
	color:#fff;
	/* border:1px solid #3895e3; */
}


.addWinLogo {
    background: url("../../../../images/themes/access/desktop/setting_logo01.png") no-repeat scroll center center transparent;
    display: inline-block;
    float: left;
    height: 26px;
    left: 5px;
    position: relative;
    width: 130px;
    z-index: 10000;
}

.layoutWinLogo {
    background: url("../../../../images/themes/access/desktop/setting_logo02.png") no-repeat scroll center center transparent;
    display: inline-block;
    float: left;
    height: 26px;
    left: 5px;
    position: relative;
    width: 130px;
    z-index: 10000;
}

button{
	cursor: pointer;
}
