/* ------------common---------------- */
@keyframes around
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-moz-keyframes around
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-webkit-keyframes around
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
@-o-keyframes around
{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

.e-checkbox{
	font-family: FontAwesome;
	font-style: normal;
}

.e-checkbox:before{
	content: "\f096";
}

.sel .e-checkbox:before{
	content: "\f046";
}

.eui-mask{
	text-align: center;
	position: absolute;
	background: #fff;
}

.eui-mask .fa-spinner{
	font-size: 35px;
	-moz-animation: paround 2s linear infinite;
	-o-animation: around 2s linear infinite;
	animation: around 2s linear infinite;
	-webkit-animation: around 2s linear infinite;
}

.eui-cursor-pointer{
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.eui-disabled{
	color: #C8D0D8!important;
	cursor: not-allowed!important;
}
/* ------------common---------------- */

/* ------------grid---------------- */
.euigrid {
	
}

.euigrid > table{
}

.euigrid table thead th{
	  border: 1px solid #ddd;
	  border-left: 0px;
}

.euigrid table thead th.last{
	  border-right: 0px;
}

.euigrid table td, .euigrid table th{
	vertical-align: middle!important;
	cursor: default;
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.euigrid table td > div, .euigrid table th > div{
	white-space:nowrap; 
	text-overflow:ellipsis; 
	-o-text-overflow:ellipsis; 
	overflow: hidden; 
	display: inline-block;
}



.euigrid table tr.sel td {
	background-color: #E1E1E1
}

.euigrid table tr .check-column > div{
	width: 50px;
	text-align: center;
}

.euigrid table.table-hide-check tr .check-column{
	display: none;
}

.eui-grid-editor{
	position: absolute;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #fff;
}

.eui-grid-editor td input{
	width: 99%;
}

.eui-grid-editor .submitor{
	text-align: center;
}



/* ------------grid---------------- */



/* ------------tree---------------- */
.euitree{
	padding: 5px;
	overflow: auto;
}

.euitree .euitree-inner-cnt{
}

.euitree .treenode{
}

.euitree .label-cnt:hover{
	background: #eee;
}

.euitree .label-cnt{
	padding:3px;
}

.euitree .treenode-selected > .label-cnt{
	background: #ddd;
}

.euitree .label-cnt > i {
	font-family: FontAwesome;
	font-weight: normal;
  	font-style: normal;
	margin-right: 5px;
	font-size: 14px;
}

.euitree .children-cnt{
	padding-left: 13px;
  	margin-left: 7px;
  	border-left: 1px dashed #ccc;
}

.euitree .treenode-collapsed > .treenode-label-folder > .expand-icon:before{
	content: "\f067";
}

.euitree .treenode-expanded > .treenode-label-folder > .expand-icon:before{
	content: "\f068";
}

.euitree .treenode-loading > .treenode-label-folder > .expand-icon{
	-moz-animation: paround 2s linear infinite;
	-o-animation: around 2s linear infinite;
	animation: around 2s linear infinite;
	-webkit-animation: around 2s linear infinite;
}

.euitree .treenode-loading > .treenode-label-folder > .expand-icon:before{
	content: "\f110";
}

.euitree .treenode-label-file > .expand-icon:before{
	content: "\f068";
	color: transparent;
}

.euitree .treenode-expanded > .treenode-label-folder > .node-symbol:before{
	content: "\f115";
}

.euitree .treenode-collapsed > .treenode-label-folder > .node-symbol:before{
	content: "\f114";
}

.euitree .treenode-label-file > .node-symbol:before{
	content: "\f016";
}

.euitree .treenode-expanded > .children-cnt{
	display: block;
}

.euitree .treenode-collapsed > .children-cnt{
	display: none;
}

.euitree .node-check{
	display: none;
}

.euitree .treenode-multiSel .node-check{
	display: inline;
}

.euitree .node-check:before{
	content: "\f096";
}

.euitree .treenode-selected >.label-cnt > .node-check:before{
	content: "\f046";
}

/* ------------tree---------------- */

.euipaging{}

.euipaging li.disabled a,.euipaging-disabled li a{
	color: #C8D0D8;
	cursor: not-allowed;
}

.euipaging .pagination > li{
	position: relative;
	float: left;
}

.euipaging .pagination > li.open .dropdown-menu{
	display: block;
	max-height: 140px;
  	overflow-y: auto;
}

.euipaging .dropdown-menu{
	width: 100%;
	min-width: 10px;
}

.euipaging .dropdown-menu > li > a{
	text-align: center;
}

/* ------------combo---------------- */
.eui-combo .input-group{
	text-align: center;
	width: 100%;
}

.eui-combo .input-group > button{
	width: 100%;
	text-align: left;
	border-radius: 4px!important;
}

.eui-combo .input-group > button .caret{
	float: right;
  	margin-top: 9px;
}

.eui-combo .input-group .current-label{
	display: inline-block;
	height: 17px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
  	width: calc(100% - 50px)
}


.eui-combo .input-group > ul{
	width: 100%;
	max-height: 300px;
	overflow: auto;
}
.eui-combo .input-group > ul > li > a > i {
	display: none;
}

.eui-combo .input-group > ul > li > a > span {
	margin-left: 10px;
}

.eui-combo .input-group > ul.multi > li > a > i {
	display: inline;
}


/* ------------datetime---------------- */
.eui-datetime > input{
	cursor: pointer!important;
	background: #fff!important;
}

/* ------------window---------------- */

.eui-window .modal-content{
}

.eui-window .modal-content > .modal-body{
}


/* ------------condition---------------- */
.eui-condition .condition-label{
	padding: 3px;
}

.eui-condition .condition{
	padding: 3px 10px;
	margin:0px 10px;
	border-radius: 3px;
	margin-bottom: 4px;
	display: inline-block;
	cursor: pointer;
	color: #000;
	text-decoration: none !important;
}

.eui-condition-disabled .condition{
	color: #C8D0D8!important;
	cursor: not-allowed!important;
}

.eui-condition .condition:hover{
	color: #5dbef5;
}

.eui-condition-disabled .condition:hover{
	color: #C8D0D8!important;
}

.eui-condition span.sel {
	background: #5dbef5;
	color: #fff;
}

.eui-condition span.sel:hover{
	color: #fff;
}

.eui-condition .fixedHeight .condition-inner-cnt{
	height:26px;
	overflow: hidden;
}

.eui-condition .table td{
	padding: 10px 10px 5px 10px;
	border-top: none;
	border-bottom: 1px dashed #ccc;
}


.eui-condition .condition-inner-cnt{
	position: relative;
}

.eui-condition .condition-inner-cnt .glyphicon{
	position: absolute;
	cursor: pointer;
	top:6px;
	right: 0px;
}

.eui-condition .condition-inner-cnt .glyphicon:hover{
	color: #5dbef5;
}
.eui-condition-group{
}

.eui-condition-group-collapsed{
	border-top: 1px dashed #ccc;
}
.eui-condition-group-collapsed .eui-condition-group-inner-cnt{
	height: 0px;
  	overflow: hidden;
}



.eui-condition-group .slide-icon-cnt{
	width:100%;
	text-align: center;
}

.eui-condition-group .slide-icon-cnt button{
	border:1px dashed #ccc;
	border-top:1px solid #fff;
	background: #fff;
	margin-top: -1px;
	display: none;
}

.eui-condition-group .slide-icon-cnt .collapse-btn{
	display: inline-block;
}

.eui-condition-group-collapsed .slide-icon-cnt .expand-btn{
	display: inline-block;
}

.eui-condition-group-collapsed .slide-icon-cnt .collapse-btn{
	display: none;
}
