.logo{
	background:url(../../../../images/themes/blue/login/logo.png) no-repeat;
	width:648px; height:47px;
	margin:0 auto;
	overflow:hidden;
}
.login_content{
	width:666px;
	position:absolute;
	left:50%; top:50%;
	margin:-243px 0 0 -333px;
}
/*----------登录窗口-------------------------------------------------------------------------------*/
.login_bg{
	background:url(../../../../images/themes/blue/login/login_bg.png) no-repeat;
	width:666px; height:286px;
	margin:70px auto 0;
	overflow:hidden;
}
.login_bg input{
	border:none;
}
.login_box{
	width:290px; height:190px;
	margin:30px 0 0 310px;
}
.user_box{
	width:285px;
	margin:15px 0 0;
}
.user_login{
	background:url(../../../../images/themes/blue/login/user_login.png) no-repeat;
	width:71px; height:21px;
	margin:0 auto;
}
.user_name{
	background:url(../../../../images/themes/blue/login/user_name.png) no-repeat;
	width:67px; height:27px;
}
.password{
	background:url(../../../../images/themes/blue/login/password.png) no-repeat;
	width:67px; height:27px;
}
/*-----------------------------------------------------------------------------------------*/
.btns_box{
	width:195px;
	margin:10px 0 0 0;
	padding:0 0 0 67px;
	overflow:hidden;
}
.btns_box input{
	margin:0; padding:0;
	border:none;
}
/*-----------------------------------------------------------------------------------------*/
.foot{
	text-align:center;
	line-height:24px;
	color:#c1dcff;
	margin:20px 0 0;
	padding:0 0 0 40px;
}

.alert-danger, .alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}
.alert {
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    color: #C09853;
    margin-left:25px;
    padding: 3px 35px 3px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.input-large {
    width: 210px;
}
.alert .close {
    line-height: 20px;
    position: relative;
    right: -21px;
    top: -2px;
}
button.close {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    opacity: 0.2;
    text-shadow: 0 1px 0 #FFFFFF;
}
