* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow: hidden;
	cursor: default;
	font-size: 12px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) .slidebox {
	position
	:relative
	;
	
	
	z-index
	:
	2;
	

}

#container {
	
}

.screen ul {
	height: 100%;
	padding: 20px 0 0 50px;
}

.block {
	display: block;
	float: left;
	height: 105px;
	width: 120px;
	overflow: hidden;
	text-align: center;
}

.block .count {
	background-image:
		url("../../../../images/themes/blue/desktop/count_bg.png");
	background-repeat: no-repeat;
	height: 40px;
	position: absolute;
	right: -20px;
	top: 0;
	width: 44px;
}

.dropDiv {
	display: inline;
	width: 30px;
	float: right;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.appDiv {
	cursor: pointer;
	display: inline;
	width: 120px;
	height: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
}

.icon-text {
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 100%;
	margin-top: 3px;
}

.icon-text span {
	color: #FFFFFF;
	display: inline-block;
	height: 20px;
	padding:0px 2px;
	line-height: 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 80%;
}

.icon-text .spanHover {
	background : #5088c3;
}

li.block .img {
	cursor: pointer;
	background-position: 4px 50%;
	background-repeat: no-repeat;
	height: 65px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 70px;
	text-align: left;
}

li.block .img .smallIconDiv {
	float: left;
	margin: 10px 0px 0px 10px;
	width: 54px;
	height: 54px;
	margin-top: 6px\9; /*ie*/
}

li.block .img .smallIcon {
	width: 16px;
	height: 16px;
	line-height: 16px;
}

li.block .img p:hover,li.block .img p.active {
	background:
		url("../../../../images/themes/blue/desktop/desktop_hover_bg.png")
		no-repeat scroll 0 0 transparent;
}

li.block .img p {
	position: static;
	top: 50%;
}

li.block .img p img {
	left: -50%;
	width: 60px;
	height: 60px;
	position: static;
	top: -50%;
	vertical-align: middle;
	margin: 4px 0 0 4px;
}

li.block .img p:after {
	content: ".";
	font-size: 1px;
	visibility: hidden;
}

.trash {
	bottom: 36px;
	display: none;
	height: 96px;
	left: 50%;
	margin-left: -48px;
	position: absolute;
	width: 96px;
}

.trashSmall {
	bottom: 10px;
	right:20px;
	display: none;
	height: 25px;
	position: absolute;
	width: 100px;
}

.trash.hover {
	background:
		url("../../../../images/themes/blue/desktop/trash_hover.png")
		no-repeat scroll center top transparent;
}

.unPadding {
	padding: 0px 0px 0px 10px !important;
}

.control {
	height: 26px;
	left: 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
	z-index: 3;
}

.control table {
	margin: 0 auto;
	border-collapse: collapse;
}

.control-r {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/slide_bar_r_0.png")
		no-repeat scroll right top transparent;
	height: 26px;
	padding-right: 15px;
}

.control-l {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/slide_bar_l_0.png")
		no-repeat scroll left top transparent;
	height: 25px;
	width: 15px;
}

.control a {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/btn_0.png")
		no-repeat scroll center top transparent;
	display: block;
	float: left;
	height: 26px;
	top: 0;
	width: 26px;
}

.control a.active {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/btn_active_0.png")
		no-repeat scroll center top transparent;
}

.control a.cfg {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/btn_cfg_0.png")
		no-repeat scroll center top transparent;
	float: right;
	height: 26px;
}

.control a.cfg:hover {
	background:
		url("../../../../images/themes/blue/desktop/slidebox/btn_cfg_hover_0.png")
		no-repeat scroll center top transparent;
}

#overlay {
	background: none repeat scroll 0 0 #000000;
	opacity: 0.6;
	filter: alpha(opacity =  60);
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 4;
}

#setting_panel {
	height: 408px;
	width: 724px;
	position: absolute;
	display: none;
	z-index: 5;
}

#desktopSetting {
	background:
		url(../../../../images/themes/blue/desktop/appbox/desktop_bg_small.png)
		no-repeat;
	height: 100%;
	overflow: hidden;
	position: absolute;
	z-index: 5;
}

.desktop_box_tit {
	width: 650px;
	height: 35px;
	line-height: 35px;
}

.desktop_box_tit .seting_logo {
	background:
		url("../../../../images/themes/blue/desktop/setting_logo.png")
		no-repeat scroll center center transparent;
	height: 26px;
	display: inline-block;
	left: 5px;
	position: absolute;
	width: 130px;
}

.desktop_box_tit a.close {
	background:
		url("../../../../images/themes/blue/desktop/desktop_close.png")
		no-repeat;
	float: right;
	margin-top: 7px;
	width: 16px;
	height: 16px;
}

.desktop_box_tit a.close:hover {
	background: url("../../../../images/themes/blue/desktop/close_.png")
		no-repeat;
}

#desktopSetting #bar {
	width: 640px;
	line-height: 35px;
	text-align: left;
	height: 35px;
	margin: 0 auto;
	margin-left: 20px;
}

#desktopSetting #bar .barDiv {
	background:
		url(../../../../images/themes/blue/desktop/appbox/box_btn_bg.png)
		no-repeat;
	width: 100px;
	height: 30px;
	cursor: pointer;
	color: #4773af;
	line-height: 30px;
	float: left;
}

#desktopSetting #bar #portalSettingMsg {
	float: right;
	width: 400px;
	margin-right: 40px;
	color: #4773af;
	line-height: 32px;
	font-size: 12px;
	text-align: right;
}

#desktopSetting #bar div.btnicon {
	width: 24px;
	height: 24px;
	float: left;
	margin: 4px 4px 0 10px;
	display: inline;
}

#desktopSetting #bar #btnAppSet .btnicon {
	background:
		url(../../../../images/themes/blue/desktop/appbox/btn_icon1.png)
		no-repeat;
}

#desktopSetting #bar #btnScreenSet .btnicon {
	background:
		url(../../../../images/themes/blue/desktop/appbox/btn_icon2.png)
		no-repeat;
}

#desktopSetting #bar div.active,#desktopSetting #bar div.barDiv:hover {
	background:
		url(../../../../images/themes/blue/desktop/appbox/box_btn_bg_active.png)
		no-repeat;
}

#desktopSetting #appPageAll {
	background:
		url(../../../../images/themes/blue/desktop/appbox/desktop_box_content.png)
		no-repeat;
	left: 0;
	overflow: hidden;
	width: 658px;
	height: 284px;
	margin: 0 auto;
}

#desktopSetting #appPageDom {
	display: block;
	height: 100%;
}

#desktopSetting #appPageDom #app_cate_list {
	background:
		url(../../../../images/themes/blue/desktop/appbox/desktop_box_content_left.png)
		no-repeat;
	width: 162px;
	overflow: hidden;
	float: left;
	height: 280px;
	text-align: left;
}

#desktopSetting #appPageDom #app_cate_list .scroll-up,#desktopSetting #appPageDom #app_cate_list .scroll-down
	{
	background:
		url("../../../../images/themes/blue/desktop/appbox/scroll_arrow.png")
		no-repeat scroll center 0 transparent;
	cursor: pointer;
	height: 10px;
	overflow: hidden;
}

#desktopSetting #appPageDom #app_cate_list ul {
	padding: 7px;
	height: 100%;
	list-style-type: none;
	overflow: hidden;
	width: 100%;
}

#desktopSetting #app_cate_list ul li {
	height: 27px;
	line-height: 27px;
	border-bottom: 1px solid #b2dcf5;
	text-indent: 10px;
	width: 146px;
	float: left;
}

a:link {
	text-decoration: none;
}

a img {
	border: 0 none;
}

#desktopSetting #app_cate_list ul li a {
	color: #000000;
	display: block;
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	white-space: nowrap;
	width: 146px;
}

#desktopSetting #app_cate_list ul li a img {
	border-style: none;
	margin-top: 3px;
	margin-bottom: 3px;
}

#desktopSetting #app_cate_list ul li a:hover {
	background:
		url("../../../../images/themes/blue/desktop/appbox/app_cate_list_bg.gif")
		no-repeat scroll 0 -27px transparent;
}

#desktopSetting #app_cate_list ul li a.current {
	background:
		url("../../../../images/themes/blue/desktop/appbox/app_cate_list_bg.gif")
		no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
}

#desktopSetting #appPageDom #app_cate_list .scroll-up {
	display: none;
	background-position: center 0;
}

#desktopSetting #appPageDom #app_cate_list .scroll-down {
	display: none;
	background-position: center -10px;
}

#desktopSetting #appPageDom #app_cate_list .scroll-up-hover {
	background-position: center -20px;
}

#desktopSetting #appPageDom #app_cate_list .scroll-down-hover {
	background-position: center -30px;
}

#desktopSetting #app_list_box {
	height: 280px;
	left: 162px;
	overflow: hidden;
	position: absolute;
}

#desktopSetting #app_list_box ul {
	list-style-type: none;
	padding: 8px;
	height: 270px;
	overflow: auto !important;
}

#desktopSetting #app_list_box ul li {
	cursor: pointer;
	float: left;
	margin-bottom: 10px;
	margin-left: 8px;
	text-align: center;
	width: 85px;
}

#desktopSetting #app_list_box ul li a img {
	display: block;
	margin: 0 auto;
}

#desktopSetting #app_list_box ul li a {
	color: #000000;
}

#desktopSetting #app_list_box ul li a span.lleft {
	display: inline-block;
	height: 18px;
	line-height: 18px;
	margin-top: 3px;
}

#desktopSetting #app_list_box ul li a span.lright {
	cursor: pointer;
	display: inline-block;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	max-width: 80px;
	overflow: hidden;
}

#desktopSetting #app_list_box ul li:hover span.lleft {
	background:
		url("../../../../images/themes/blue/desktop/appbox/app_title_bg.png")
		no-repeat scroll left 0 transparent;
	display: inline-block;
	height: 18px;
	padding-left: 2px;
}

#desktopSetting #app_list_box ul li:hover span.lright {
	background:
		url("../../../../images/themes/blue/desktop/appbox/app_title_bg.png")
		no-repeat scroll right -18px transparent;
	color: #fff;
	display: inline-block;
	max-width: 80px;
	overflow: hidden;
	padding-right: 2px;
}

#desktopSetting #screenPageDom {
	display: none;
	height: 100%;
}

.clearfix {
	border-top: 1px solid transparent !important;
	clear: both;
	margin-top: -1px !important;
	visibility: hidden;
}

#desktopSetting #screenPageDom #screen_list {
	height: 280px;
	width: 658px;
	overflow: auto !important;
}

#desktopSetting #screenPageDom ul {
	height: auto;
	list-style-type: none;
	/* padding: 10px 5px; */
}

#desktopSetting #screenPageDom ul li {
	background:
		url("../../../../images/themes/blue/desktop/appbox/min_screen_bg.png")
		no-repeat scroll 0 0 transparent;
	color: #FFFFFF;
	cursor: move;
	display: block;
	float: left;
	font-family: "Microsoft YaHei", "Arial", "ËÎÌå";
	font-size: 36px;
	height: 57px;
	line-height: 57px;
	margin: 15px;
	text-align: center;
	width: 180px;
}

#desktopSetting #screenPageDom ul #btnAddScreen {
	background:
		url("../../../../images/themes/blue/desktop/appbox/min_screen_bg_add.png")
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
}

#desktopSetting #screenPageDom ul li {
	position: relative;
}

#desktopSetting #screenPageDom ul li.current {
	font-size: 45px;
	font-weight: bold;
}

#desktopSetting #screenPageDom ul li .closebtn {
	background:
		url("../../../../images/themes/blue/desktop/appbox/close.png")
		no-repeat scroll center top transparent;
	cursor: pointer;
	display: block;
	height: 32px;
	position: absolute;
	right: -6px;
	top: -6px;
	width: 32px;
}

.contextMenu {
	position: absolute;
	width: 100px;
	z-index: 99999;
	border: solid 1px #CCC;
	background: #EEE;
	padding: 0px;
	margin: 0px;
	display: none;
}

.contextMenu LI {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.contextMenu A {
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 20px;
	height: 20px;
	background-position: 6px center;
	background-repeat: no-repeat;
	outline: none;
	padding: 1px 5px;
	padding-left: 28px;
}

.contextMenu LI.hover A {
	color: #FFF;
	background-color: #3399FF;
}

.contextMenu LI.disabled A {
	color: #AAA;
	cursor: default;
}

.contextMenu LI.hover.disabled A {
	background-color: transparent;
}

.contextMenu LI.separator {
	border-top: solid 1px #CCC;
}

.clearfix {
	border-top: 1px solid transparent !important;
	clear: both;
	margin-top: -1px !important;
	visibility: hidden;
}

.titleLabel .optIcon {
	cursor: pointer;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-left: 5px;
    margin-top: -3px;
	width: 15px;
}

.titleLabel .renameInput {
	height: 20px;
	width: 100px;
	display: none;
}

/*
	Adding Icons
	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/
.contextMenu LI.open A {
	background-image: url(../../../../images/common/icons/ok.png);
}

.contextMenu LI.delete A {
	background-image: url(../../../../images/common/icons/cancel.png);
}